[2014-10-06 11:07] marcelmay opened #1 "InMemoryStore expunge() doesn't clean up all mail"
(migrated from https://sourceforge.net/p/greenmail/bugs/1/)

Hi
The expunge method doesn't work when there are multiple deleted mail (deletes every second mail).
This is because the loop checks the list size, but the loops body changes the list.

Something like this:

[code]

Regards,
Peter ( Peter.Perenyi <at> ird.govt.nz )

[2014-10-06 12:23] #1 closed, assigned to marcelmay

[2014-10-07 08:36] marcelmay opened #2 "Squirrelmail with Greenmail ERROR “Bad or malformed request”"
http://stackoverflow.com/questions/21471726/squirrelmail-with-greenmail-error-bad-or-malformed-request

[2014-10-09 22:58] buildscientist opened #3 "GreenMail Core does not build using Oracle JDK 6"
Due to a missing class (sun.security.ssl.SSLSocketImpl) I am unable to build GreenMail Core using Oracle JDK 6.

This class only exists in OpenJDK installations.  I understand why the SSLSocketImpl class is being used (e.g. to avoid slow reverse DNS lookups) but this change prevents Oracle JDK/JRE users from using/building this library.

[2014-10-09 23:34] buildscientist opened #4 "GreenMail IMAP does not escape quotes in ENVELOPE Message-ID response"
(migrated from http://sourceforge.net/p/greenmail/bugs/7/)

If I send a test email to GreenMail, containing a Message-ID containing a quoted address, e.g.

[code]

and then I retrieve it from GreenMail's IMAP server, JavaMail's ENVELOPE class, which is reading the response, throws

[code]

The IMAP [RFC3501 (section 9)](http://tools.ietf.org/html/rfc3501#section-9) says that the envelope's message

[2014-10-10 02:01] buildscientist opened #5 "Licensing confusion"
(Migrated from http://sourceforge.net/p/greenmail/bugs/8/)

The included license.txt file says that GreenMail is licensed under the Apache License 2.0, but copyright notices in every file (including those forked from Apache James) claim LGPL licensing, which is more restrictive than Apache 2.0. Could you clarify which license the project is meant to be licensed under and remove the conflicting inf

[2014-10-10 18:17] camann9 opened #6 "Message size is limited in FetchCommand"
FetchCommand:224: Should be len = Math.min(len, bytes.length-start); Otherwise message size is limited to 16kb with the default settings of JavaMail

[2014-10-10 18:20] camann9 opened #7 ""TO" users are duplicated in Smtp Manager"
SmtpManager#enqueue: Receivers are added to the list of receivers again even if they are already in it. This leads to duplicate receiver addresses.

[2014-10-10 18:28] #5 closed, assigned to camann9

[2014-10-11 01:06] buildscientist opened #8 "Update GreenMail to use JUnit 4.x"
GreenMail unit tests are currently using JUnit 3.x style tests. Update the JUnit dependency and all unit tests accordingly. This will give us some additional flexibility in test method names and the ability to use Hamcrest if needed.

[2014-10-11 21:39] #3 closed, assigned to nobody

[2014-10-13 02:18] buildscientist opened #10 "Code contribution guidelines"
Given @camann9  comments in PR https://github.com/greenmail-mail-test/greenmail/pull/9 I thought it would be a good idea to have a code contribution guideline.

These should detail:
- Code line policy (branching etc)
- Code style policy
- Testing policy

[2014-10-13 02:22] buildscientist opened #11 "Migrate CI from Travis to BuildHive"
Given that GreenMail is a Java project and it wants to continue support for Oracle Java 1.6 I suggest we migrate GreenMail's CI from TravisCI to [BuildHive](https://buildhive.cloudbees.com) by CloudBees.

[2014-10-13 02:27] buildscientist opened #12 "Update GreenMail website with GitHub link"
The GreenMail website should be updated with the GitHub project link to prevent users from submitting issues/bugs on Sourceforge.

[2014-10-13 03:54] buildscientist opened #13 "GreenMail SMTP accepts mail from invalid users"
Most SMTP implementations by default will deny an inbound email addressed to a user on the local domain (or within the relay path) if the user's mailbox does not exist.

GreenMail accepts an incoming email and returns a status code of 250 to the mail client even if the user does not exist on a local mailbox. The status code of 250 in this case is a red-herring especially when code is written to fe

[2014-10-14 01:05] buildscientist opened #15 "Question: How often is GreenMail released?"
Wondering how often GreenMail is released and pushed to Maven Central. I'd like to use the changes I made in PR https://github.com/greenmail-mail-test/greenmail/pull/14

I guess I can maintain my own fork temporarily but I'd rather get an official release from the project.

[2014-10-14 09:37] #10 closed, assigned to camann9

[2014-10-14 10:01] #15 closed, assigned to nobody

[2014-10-15 15:55] mbyas-lexmark opened #16 "GreenMailUser.java Covered in Apache 2.0 License"
I saw you guys closed a bug for licensing confusion. Is GreenMailUser.java covered in the license as well? Or Do I need permission.

[2014-10-15 21:12] camann9 opened #17 "Add greenmail web archive (war) project"
There should be a deployable version of Greenmail

[2014-10-15 21:46] #16 closed, assigned to camann9

[2014-10-17 00:54] #4 closed, assigned to nobody

[2014-10-17 07:55] #11 closed, assigned to camann9

[2014-10-20 14:13] marcelmay opened #18 "Server does not clean up session handlers"
Migrated from https://sourceforge.net/p/greenmail/bugs/5 :

We are using greenmail within Alfresco and have seen some memory usage that do not seem to be as efficient as possible. With each connection and synchronisation of the email client, the base heap memory consumption of the repository increases, despite the client being disconnected / logged out properly.

If needed we can provide a neutral

[2014-10-20 14:17] #18 closed, assigned to marcelmay

[2014-10-21 12:06] camann9 opened #19 "Restructure GreenMailUtil"
- Separate message creation, sending and checking
- Should be backwards compatible (deprecate GreenMailUtil with reference to new classes)
- Think about integrating another API for creating messages

[2014-10-22 06:47] #8 closed, assigned to camann9

[2014-10-22 11:26] #6 closed, assigned to camann9

[2014-10-22 11:59] #13 closed, assigned to camann9

[2014-10-22 13:25] #7 closed, assigned to camann9

[2014-10-27 09:25] camann9 opened #20 "Implement search for arbitrary fields"
Currently the search command only supports search on flags. We also want search on other header fields

[2014-10-31 01:47] swongu opened #21 "Received date and subject causes issues with imap interface"
Two issues encountered when using java mail + IMAP protocol:
1. Received date using `Message.getReceivedDate()` is wrong, for me it is behind by 12 hrs. Example: Received date **Thu Oct 30 06:37:14 PDT 2014**, Sent date **Thu Oct 30 18:37:14 PDT 2014**
2. When subject is `Subject?<>/|\\.%\"*?:`, `Message.getSubject()` causes the following exception: `javax.mail.MessagingException: Failed to load I

[2014-10-31 02:22] buildscientist opened #23 "Migrate CI from Travis to SnapCI"
I brought up issue #11 previously and it was closed out since BuildHive doesn't support Java 1.6. It looks like SnapCI has [support](http://docs.snap-ci.com/the-ci-environment/languages/java/) for Java 1.6,7 and 8.

[2014-10-31 13:16] #21 closed, assigned to nobody

[2014-11-01 19:55] buildscientist opened #24 "Relocate GreenMailUtilTest test method to EscapingTest"
The change I made in pull request #14 should really live under the EscapingTest class. I'll relocate it and the GreenMailMimeMessage inner class to that package.

Can we create a package called com.icegreen.greenmail.test.utils for test utility classes like GreenMailMimeMessage? I'd rather do that than pollute the test classes with inner classes.

[2014-11-01 22:19] buildscientist opened #26 "Update .gitignore file to be more inclusive"
The current .gitignore file only filters a set of basic filetypes and directories. It should be updated to remove files generated by common IDE's like NetBeans, Eclipse, IntelliJ etc. Additionally it should ignore any OS generated like OS X .DS_STORE

[2014-11-01 22:51] buildscientist opened #28 "GreenMail cannot receive bounce messages"
(migrated from http://sourceforge.net/p/greenmail/bugs/6/)

My application reads a POP3 mailbox and resends the messages it reads after processing. When this fails, it needs to generate and send a bounce message. GreenMail cannot receive these bounce messages, as it doesn't recognize <> as MAIL FROM: argument.

Example SMTP session:

[code]

[2014-11-02 16:33] #12 closed, assigned to marcelmay

[2014-11-09 11:46] #26 closed, assigned to nobody

[2014-11-09 11:47] #24 closed, assigned to nobody

[2014-11-10 19:10] buildscientist opened #30 "Publish GreenMail Roadmap"
There's been a lot of issues related to enhancements and such but I think it would be beneficial to have a published roadmap.

Where do we see GreenMail going for the 1.x series and what's in store for 2.x?

[2014-11-11 09:57] #28 closed, assigned to nobody

[2014-11-11 22:21] waelchatila opened #32 "message body encoding issue"
just got an email from a user:

-
One minor issue I would like to mention in case you are not yet aware of it. The message body in multipart messages does not properly work with encodings other than us-ascii. I see 'us-ascii' hardcoded at various locations. First I tried rewriting getWholeMessage, but it did not solve my issue with utf8 chars. I presume this is not the only point where the encodin

[2014-11-11 22:28] buildscientist opened #33 "Refactor SMTPCommandTest to use JavaMail"
The greenmail-core/src/test/java/com/icegreen/greenmail/test/commands/SMTPCommandTest.java uses raw sockets to test mail commands against GreenMail's SMTP server.

We should use JavaMail's SMTPTransport.sendCommand() instead as this is cleaner than using raw sockets.

[2014-11-12 22:05] buildscientist opened #34 "Use Gitter.im as a communication tool"
I think we should consider using [Gitter](http://gitter.im) as a communication tool for the team and as an area where we can provide some "minimal" support for GreenMail - in case anyone has questions about it.

[2014-11-13 07:58] milkboy opened #35 "Spring ImapMailReceiver fails (No enum constant com.icegreen.greenmail.imap.commands.SearchKey.NOT)"
Unit tests in my Spring Intengration project are failing (using Greenmail 1.4.0) due to the fact that SearchKey.NOT is unimplemented =/

08:32:46.308 [task-scheduler-1] INFO  o.s.i.mail.ImapMailReceiver - attempting to receive mail from folder [INBOX]
08:33:06.381 [Thread-6] ERROR c.i.greenmail.imap.ImapHandler - Can not handle IMAP connection
java.lang.IllegalArgumentException: No enum constant c

[2014-11-13 08:25] camann9 opened #36 "Document policy for contributions"
Suggestion : pull request for every contribution. Every request is merged by a member of the team that did not create it (peer review)

[2014-11-17 20:47] #35 closed, assigned to marcelmay

[2014-12-08 21:23] marcelmay opened #37 "Integrate fixes from Alfresco patch"
Alfresco patched GreenMail for various issues.

Evaluate and reintegrate the ~~[patch](https://github.com/Alfresco/community-edition/blob/master/projects/3rd-party/src/greenmail-1.3-src.diff)~~ [patch](https://github.com/Alfresco/community-edition/commit/60c49f6f7c65b084be9eb7ff38f89863231b9640#diff-98db6ae3b64864b91c01d139f197cc95).

[2014-12-11 10:26] camann9 opened #38 "Fluent API for test mail creation"
Search for an API that allows test mail creation in an easy way or create one. Example:

[code]

[2014-12-11 10:31] camann9 opened #39 "Asserts for mail reception"
Create asserts that check mail reception. Could be similar to Wiremock.

[code]

[2014-12-11 11:37] camann9 opened #40 "Event rules"
There should be a way to describe events (e.g. reception of an email from an unknown user) and actions that happen when the condition is fulfilled. Example:

[code]

Using rules we could get rid of some of the special logic like automatic user creation for SMTP. It could also be used to simulate faults:

[code]

This is related to #39

[2014-12-11 11:42] camann9 opened #41 "Implement server side Sieve"
Add possibility to do server side processing using Sieve (see http://tools.ietf.org/html/rfc5228 ) . This conflicts/augments to a certain degree #40

[2014-12-11 11:43] camann9 opened #42 "Verify Greenmail using Sonar in CI build"
+Get rid of Sonar violations

[2014-12-11 11:47] camann9 opened #43 "Fix thread synchronization issues"
There are various issues in thread synchronization that are uncovered by the MultiRequestTest (execute multiple times and look at command line output). Those should be fixed. While doing this it might be useful to do a general refactoring of the protocol code.

[2014-12-11 11:49] #30 closed, assigned to nobody

[2014-12-11 11:52] camann9 opened #44 "Check/improve compatibility with mail clients"
Greenmail was written with JavaMail as the primary client. Nonetheless it would be nice if users would be able to connect to Greenmail using a mail client of their choice. We should check/improve support for major mail clients:
- Thunderbird
- Outlook
- Apple mail

[2014-12-11 11:54] camann9 opened #45 "Rewrite Greenmail website"
The website is being rewritten based on Bootstrap. First prototype ready.

[2014-12-11 11:56] camann9 opened #46 "Look at various Greenmail forks"
There are various forks of greenmail on Github. We should look at the improvements they contain and merge them into our repo (after asking :-P).

[2014-12-14 00:28] marcelmay opened #47 "Support UIDFolder"
Implement UIDFolder interface for ImapSessionFolder.

See [JavaMail UIDFolder](https://javamail.java.net/nonav/docs/api/javax/mail/UIDFolder.html) for details.

[2014-12-14 00:36] #47 closed, assigned to marcelmay

[2014-12-15 05:34] #33 closed, assigned to buildscientist

[2014-12-15 05:42] buildscientist opened #49 "Invalid upstream config in README.md"
The README.md file has a typo in the upstream config.

[2014-12-15 06:15] #49 closed, assigned to nobody

[2014-12-21 17:06] camann9 opened #51 "Remove dependency to commons-lang"
We use only one method from it

[2014-12-27 21:36] marcelmay opened #52 "Upgrade jboss dependencies to 4.2.2.GA for GreenMail JBoss SAR"

[2014-12-27 21:39] #52 closed, assigned to marcelmay

[2014-12-27 22:59] marcelmay opened #53 "Imap does not correctly handle rc2822 date format"
CommandParser uses SimpleDateFormat("dd-MMM-yyyy hh:mm:ss zzzz", Locale.US) but should use javax.mail.internet.MailDateFormat instead.

[2014-12-27 23:00] #53 closed, assigned to marcelmay

[2015-01-07 18:57] marcelmay commented on #45
Merged pull request (see #54 ) overwriting original site with new bootstrap based site.

Technical, the redesigned site is based on:
- Bootstrap 3.3.1
- Colors from http://www.google.com/design/spec/style/color.html#color-color-palette using “Teal” palette
- Syntax highlighting via prism.js from http://prismjs.com/

[2015-01-13 20:54] joelittlejohn opened #57 "Javadocs are currently a 404"
The Javadocs link at http://www.icegreen.com/greenmail/ and the link in the README.md of this repo point at http://www.icegreen.com/greenmail/javadocs/index.html, which is currently returning a 404.

[2015-01-13 22:37] marcelmay commented on #57
Thanks alot! It's fixed now.

[2015-01-13 22:37] #57 closed

[2015-01-13 22:38] joelittlejohn commented on #57
Cool. Thanks for the speedy update!

[2015-01-14 08:03] camann9 commented on #57
Btw: There is also the possibility of downloading the source jar for GreenMail. If you have IntelliJ or eclipse it is pretty simple (google "attach source jar"). Then you get the documentation and you also get the source code and you can debug into GreenMail code.

[2015-02-13 18:54] dswitzer opened #58 "UID is not passed with POP3"
We just set up GreenMail to do some testing and we delete messages by their UID. Unfortunately, when pulling messages from POP3, the messages contain an empty UID.

Any chance of getting this changed?

[2015-02-13 18:59] buildscientist commented on #58
Hi @dswitzer - any chance you can submit a unit test to verify this? Alternatively I'll see if I can look into this.

[2015-02-13 19:01] buildscientist commented on #45
Closing this as the new site is live!

[2015-02-13 19:01] #45 closed

[2015-02-13 19:48] dswitzer commented on #58
Quickly looking at the code, I would think you could just add something like the following to Pop3ServerTest.testRetrieve():

assertTrue(messages[0].getHeader("uid"));

For me, any attempt to get the UID from a POP message comes up blank. Works fine if I use IMAP.

[2015-02-13 19:58] dswitzer opened #59 "Ability to ignore invalid credentials"
We're using GreenMail as a test server for our QA/Staging. For our purposes, what would be ideal is GreenMail would just accept any credentials as valid. It would just completely ignore the password and if the username did not exist, would just return an empty mailbox.

We need to be able to test arbitrary mailboxes as part of a workflow system, so for us just always accepting credentials as being

[2015-02-13 23:09] camann9 commented on #59
If you would like to provide a pull request with unit test we would be grateful. There is a user manager that checks credentials so that would be the right point to insert this functionality. Of course it has to be configurable.
As a workaround you can just send a message to the given mail account then the account is automatically created.
Is it a big hassle for you to just create the mailboxes be

[2015-02-13 23:12] camann9 commented on #58
Would you mind quickly cloning the repo and verifying your hypothesis? We don't use any arcane tools so I promise building it and executing the unit tests won't take more than five minutes :-P

[2015-02-16 15:34] camann9 commented on #58
Actually I am having trouble replicating this. For me in IMAP the uid header is also not set...

[2015-02-23 16:36] markrogersalfresco commented on #46
Yes, its great that Greenmail is alive again.    We at alfresco have been patching version 1.3 for a while now.     I'll compare with the latest version and contribute our changes back.    In the meantime the diffs are available from our SVN repo.

[2015-02-23 16:44] camann9 commented on #46
It would be awesome to have your commits too :-) . please use separate pull
requests for separate contributions where possible.

On Mon, Feb 23, 2015, 5:36 PM markrogersalfresco <notifications@github.com>
wrote:

[2015-02-24 06:55] marcelmay commented on #46
There is even an Alfresco specific issue, where we tried to roughly analyze which parts we could reintegrate:
https://github.com/greenmail-mail-test/greenmail/issues/37 <https://github.com/greenmail-mail-test/greenmail/issues/37>

Mark, let me know if/how we can share the work on this.

Cheers,
Marcel

[2015-02-27 16:55] markrogersalfresco commented on #37
If you need more details of why we have patched what we have then it will be in Alfresco's JIRA.    I can probably give details.    We should also have integration tests that could be adapted.

I'll start by contributing an easy fix just to get the ball rolling.

[2015-03-10 14:00] Chessray opened #62 "Provide ability to automatically purge oldest messages."
When running an email simulator based on GreenMail for too long (or rather when it has received too many messages), it will invariably die with an OutOfMemoryError. Is it possible to change e.g. the ImapHostManagerImpl to only store a maximum number of messages and when it's supposed to receive more, it will purge its oldest entry?

[2015-03-10 14:52] sellersj opened #63 "JBoss sar does not work on 7.1.3"
Looks like the sar is the wrong format for jboss 7. In the documentation it should list which versions of jboss it supports.

It looks like the old XMBeans support was dropped.

I get the following error
[code]

[2015-03-11 19:58] marcelmay commented on #63
Thanks for spotting this!

I'll update the documentation that the SAR only works up to JBoss AS 6.
As a solution it looks like GreenMail will have to provide an additional SAR for JBoss AS 7.x .

[2015-03-12 18:47] marcelmay commented on #63
I managed to get an adapted GreenMail SAR running on JBoss AS 7.1.1 . I'll commit/publish a SNAPSHOT over the weekend.

[2015-03-12 18:56] camann9 commented on #62
I can feel your pain since I had a similar issue with Wiremock. Would you mind providing a pull request for this.

[2015-03-13 12:48] Chessray commented on #62
Not sure if I can get to this anytime soon, as I'm in the process of moving house. Lots of stuff to pack, then unpack for weeks. If nobody picks this up, I'll get to it afterwards.

[2015-04-06 11:33] marcelmay opened #64 "UserManager.getUserByEmail fails"
UserManager.getUserByEmail incorrectly uses UserManager.getUser (which retrieves by logon, not by email).

[2015-04-06 11:35] #64 closed

[2015-04-06 12:03] #63 closed

[2015-04-06 15:35] marcelmay opened #65 "Enable UIDL capability for POP3"
GreenMail supports the UIDL POP3 command, but does not specify so in the capabilities.

[2015-04-06 15:36] marcelmay commented on #65
See Pop3ServerTest.testPop3Capabillities()

[2015-04-06 15:40] #65 closed

[2015-04-06 15:46] marcelmay commented on #58
Works now.

1. POP3 UIDL capability was not enabled (#65)
2. Retriever now always fetches UIDs via FetchProfile by default.
3. Example (see Pop3ServerTest.testRetrieve()):
[code]

I'm updating the Maven SNAPSHOT for you, so that you give can give it a try till we create the next official release.

[2015-04-06 15:46] #58 closed

[2015-04-06 16:11] dswitzer commented on #58
Thanks!

[2015-04-10 18:04] buildscientist opened #66 "Add XOAuth2 Support"
[Gmail](https://developers.google.com/gmail/xoauth2_protocol)  supports XOAuth2 authentication. They also rate limit users from sending mass emails into a mailbox.

XOAuth2 should be implemented in GreenMail so that tests can be written without having to send emails into Gmail.

[2015-04-10 18:08] buildscientist commented on #66
As an aside I'm not suggesting we bolt an OAuth2 provider to GreenMail. We should accept OAuth2 tokens and delegate them to a user configured OAuth2 service.

[2015-04-21 14:02] claudiusb opened #67 "Broken links in README.md"
Broken:

* Examples http://www.icegreen.com/greenmail/examples.html
* FAQ http://www.icegreen.com/greenmail/faq.html
* Download http://www.icegreen.com/greenmail/download.html

[2015-04-21 18:15] #67 closed

[2015-04-25 09:18] marcelmay opened #68 "Release 1.4.1"
- Update release note / changes.xml / GitHub Milestone 1.4.1 / README.md
- Build and deploy Maven release
- Update and deploy site including newly generated javadocs
- Post release: Maven plugin gatekeeping

[2015-04-25 09:51] marcelmay commented on #63
This issue covers only documentation.

For JBoss 7 support, a new issue should be created as we need a new JBoss 7 artifact. I'm not sure yet if it is necessary, as the main benefit of the (old) SAR was a nice integration into the JBoss Web Console which does not exist anymore for JBoss 7+.  An alternative is the GreenMail WAR deployment.

[2015-04-25 18:27] camann9 commented on #66
Hi Youssuf,
If you have time to implement it, go ahead. I think keeping it modular is a
good idea.
Sorry for the late answer...

On Fri, Apr 10, 2015, 3:08 PM Youssuf ElKalay <notifications@github.com>
wrote:

[2015-04-27 22:02] #68 closed

[2015-04-28 09:13] marcelmay opened #69 "Fix Travis CI OpenJDK 6 / Maven build"
Travis CI recently upgraded their Maven version to 3.3.1, which breaks with JDK 6.

1. Custom install Maven 3.2.x
2. Re-enable JDK 1.6 build

[2015-05-01 14:39] Chessray commented on #62
OK, looks like I'll start this out myself now. Just one question: We solved similar issues in our other simulators by using Guava's [EvictingQueue](http://docs.guava-libraries.googlecode.com/git-history/release/javadoc/com/google/common/collect/EvictingQueue.html). I see that Guava is not yet in the list of dependencies. Would adding this be acceptable? Alternatively, there's a class [CircularFifo

[2015-05-01 15:13] camann9 commented on #62
Hi Raimund, we try to keep the list of dependencies short to prevent
dependency hell. After all we are just a testing helper library so we don't
want to cause trouble to people. It would be great if you could manage
without additional dependencies. Just create your own small class for the
queue. I know that library use is good but we are even considering removing
our current dependency on Apache C

[2015-05-09 19:54] buildscientist commented on #51
@camann9 @marcelmay

How do you feel about using a library like - [unbescape](http://www.unbescape.org) instead of commons-lang3?

We'd still be pulling in a dependency - but unbescape itself doesn't have any dependencies. The alternative is I pull the Java escaping specific classes out (the project is Apache 2.0 licensed) and use them in GreenMail.

[2015-05-09 20:00] buildscientist commented on #69
I think this is related to issue #23

I've looked at the [Java specific feature set](https://circleci.com/docs/environment#java) in CircleCI and I think this fits our requirements.

I understand that Java 6/7 have both been discontinued but a large number of companies will purchase Oracle support contracts to extend backported bug fixes for those versions.

We should propose dropping support for J

[2015-05-09 20:44] buildscientist commented on #62
Couple of notes on this:

* The [EvictingQueue](http://docs.guava-libraries.googlecode.com/git/javadoc/com/google/common/collect/EvictingQueue.html) is not thread safe according to the Guava JavaDocs
* Given that we're a testing oriented tool/library we want to minimize the use of external dependencies as much as possible.
* Java has some built in collections like [ArrayBlockingQueue](http://docs.

[2015-05-09 20:54] buildscientist commented on #62
@Chessray

Have you considered setting a quota per GreenMail user and then flushing the IMAP mailbox once that quota is reached? That's a higher level implementation of what you're trying to do with the EvictingQueue but from an email simulator/test standpoint - it might make a lot more sense.

[2015-05-09 21:31] buildscientist commented on #62
Ok I just looked into this - and wrote a quick POC that does actually delete all messages across a given mailbox. @Chessray if you like I can add a nice helper method in GreenMailUtil where you pass the name of the mailbox you want and it'll delete all the messages.

The code I came up is as follows:

[code]

[2015-05-10 08:59] marcelmay commented on #51
Hi,

I’d rather favour to inline the method (or impl.).
Unbescape is less known than Apache commons lang, and still is >100kb.

We escape only very few < 10 elements, right?

Cheers,
Marcel

[2015-05-11 07:44] Chessray commented on #62
Hi again,

OK, so no additional dependencies. @buildscientist As for the helper method: This looks nice, but doesn't solve the scenario why I came up with this in the first place:

// Given
Email test server based on GreenMail is running all day long in the background, picking up an email here and there. (No big deal)

// When
Tester runs a mass email test a few times.

// Then
Email test server f

[2015-05-11 14:36] camann9 commented on #62
So I think you should implement this, it seems like a very useful feature
to me. Just go ahead. The idea of integrating this with quota is
interesting but I wouldn't do it since we are taking about two very
different functionalities. Just add an option for the maximum number of
messages and implement a simple version of EvictingQueue yourself. I'm
convinced it's not more than 30 LOC.

On Mon, May

[2015-05-11 16:15] buildscientist commented on #62
@camann9  Sounds good. I'll create another enhancement and implement the util method to flush mailboxes.

@Chessray - Sorry about your frustration. Are you planning on implementing this?

I'd say it is more than 30 LOC as we're effectively implementing another Store (InMemoryEvictingStore?)

If I had to plan this out I'd say you'd be touching the following classes:

* Managers
* ServerSetup
* Serv

[2015-05-11 16:18] buildscientist commented on #51
@marcelmay

We should be escaping pretty much anything in the IMAP envelope. I'll pull the Java escaping code in from Unbescape.

[2015-05-11 16:18] buildscientist commented on #51
Reassigned this issue to myself as I'll be pulling in the Java escaping code from Unbescape.

[2015-05-11 18:13] Chessray commented on #62
Yes, I'll try to take this on now. Let's see if I can cheat myself out of writing a completely new class by resorting to a simple LinkedHashMap extension instead of a full blown Queue implementation.

[2015-05-13 08:11] marcelmay commented on #43
Sonar reports 2 blocker issues "Methods "wait(...)", "notify()" and "notifyAll()" should never be called on Thread instances" for AbstractServer and Service. These issues should also be included.

[2015-05-13 14:35] marcelmay commented on #62
@Chessray ,

I'm interested in the cause of the memory bloat. Maybe it is possible to reduce the memory footprint (as an alternative approach, eg by offloading attachments to tmp files).

- Any chance of providing a heapdump?
- How did you size the VM heap wise?
- Which GreenMail version do you use?

We did have an issue #18 with hanging threads, too (so thread stack size could be a cause, too).

[2015-05-15 10:04] Chessray commented on #62
Hi @marcelmay,

I think it's merely the sheer amount of emails. AFAIK we don't send any attachments. We provide an option for sending messages to millions of registered recipients at once (who just said Spam?). At some point, the InMemoryStore is bound to break, just like it happened to our other simulators (Push, SMS). As for the version, we're currently on 1.3.1b.

Basically, we have a test syst

[2015-05-25 11:20] marcelmay opened #71 "Mail subject not correctly encoded"
To reproduce:
- Send an email with eg Umlauts
- Compare received subject

[2015-05-25 11:21] #71 closed

[2015-05-26 19:23] marcelmay opened #72 "GreenMail Server should expose configured JavaMail Session and Store"
As a server, expose a JavaMail session and Store for testing using JavaMail API.

Common pattern in tests include initial creation of Session if you want to create a Store:
[code]

This can be simplified by enhancing the servers to directly create a configured Session or a specific Store (substitute Imap with Smtp or Pop3):
- Create a new Session
``` Session session = greenMail.getImap().createSes

[2015-05-30 10:15] marcelmay opened #73 "Update dependencies"
Update the patch versions of the dependencies:

- com.sun.mail:javax.mail ............................... 1.5.2 -> 1.5.3
- junit:junit ....................................................... 4.11 -> 4.12
- org.apache.commons:commons-lang3 ........ 3.3.2 -> 3.4
- org.easymock:easymock .............................. 3.2 -> 3.3.1
- org.slf4j:jcl-over-slf4j ..................................... 1.7.7

[2015-05-30 22:54] marcelmay opened #74 "IMAP folder name incorrectly encoded and quoted"
IMAP folder names should be UTF-7 encoded and quoted.

Test case: Mailbox name with umlauts or whitespace

[2015-05-30 23:00] #73 closed

[2015-05-30 23:01] #74 closed

[2015-06-03 02:13] buildscientist commented on #51
@camann9 @marcelmay Please code review and approve/disapprove my PR :)

[2015-06-03 06:12] #51 closed

[2015-06-08 12:27] Paranoid-User opened #76 "IMAPS: Couldnt start at least one of the mail services."
Hi everyone,

I use GreenMail as a test server for IMAPS unit-testing. In some cases when my PC high-loaded (CPU usage 90%) I faced with the following RuntimeException:

java.lang.RuntimeException: Couldnt start at least one of the mail services.
	at com.icegreen.greenmail.util.GreenMail.start(GreenMail.java:89)
        ...

I guess that this exception caused by slow SSL socked opening (port gets

[2015-06-08 16:52] buildscientist commented on #23
Closing issue as it's being tracked in #69

[2015-06-08 16:52] #23 closed

[2015-06-08 16:53] buildscientist commented on #69
Still working on getting CircleCI configured on my branch. They appear to have some bugs associated with running parallel builds on different versions of the JDK. On a positive note - their tech support is helping me craft a custom circle.yml file

[2015-06-08 17:53] marcelmay commented on #76
I'll have a look at it, either making it configurable or by optionally passing through the timeout in GreenMail.start().

[2015-06-08 18:05] Paranoid-User commented on #76
Thank you for reply!
Do you have any ETA about 1.4.2 release?

[2015-06-08 18:07] buildscientist commented on #76
@Paranoid-User Hi - this is an open source project and we don't really have any confirmed release schedules. None of us are getting paid to work on GreenMail. Please be patient and the release will come ASAP. If you need the release sooner - please consider submitting a PR and corresponding unit tests.

[2015-06-08 18:09] marcelmay commented on #76
Would tmp. a SNAPSHOT version work, too? This will be faster available (eg by the weekend).

We do not have a concrete release plan for 1.4.2 yet.

[2015-06-08 18:11] Paranoid-User commented on #76
Sure, it will be great.
Thank you for your time!

[2015-06-10 01:14] buildscientist commented on #69
At this point I'm not sure if CircleCI supports simultaneous builds across different versions of the JDK. Still working through the details with CircleCI support. We might need to stick with Travis.

[2015-06-10 01:32] buildscientist commented on #69
Never mind - looks like I got it to work. A lot of these cloud CI providers use these yucky declarative config files to setup build workflows :-1:

I'll need to clean it up - but here's what I've got so far:

[code]

I am noticing that some of the tests aren't shutting down the GreenMail service properly so I'll need to go in there and clean those up.

[2015-06-10 05:40] camann9 commented on #69
Awesome, thanks

On Wed, Jun 10, 2015, 3:32 AM Youssuf ElKalay <notifications@github.com>
wrote:

[2015-06-10 06:27] marcelmay commented on #69
"some of the tests aren't shutting down" => can you get me a stacktrace? Is there any way to reproduce this? Thx alot!

[2015-06-10 20:14] randyb opened #77 "Greenmail SMTP server doesn't handle periods correctly"
Per http://tools.ietf.org/html/rfc5321#section-4.5.2 :

`com.icegreen.greenmail.mail.MovingMessage#readDotTerminatedContent` handles the the case of a line containing a single period, but does not handle the case where a line starts with a period and there are other characters.

The end result is mail sent to Greenmail's SMTP server can contain extra periods when retrieved via IMAP or POP3.

[2015-06-10 20:43] buildscientist commented on #77
Any chance you can write a unit test for this?

[2015-06-10 21:38] randyb commented on #77
I'll give it a shot.

[2015-06-10 21:40] marcelmay commented on #77
A simple example could be SmtpServerTest.testSmtpServerBasic, where you set the text body to ".body"?

[2015-06-11 05:57] #77 closed

[2015-06-11 05:58] marcelmay commented on #77
Thanks alot, @randyb !

[2015-06-14 05:56] buildscientist commented on #69
@marcelmay I haven't been able to reproduce this issue but I'll debug this further when/if I'm able to.

The CircleCI config is ready to go. We just need an official greenmail organization account on CircleCI to setup builds.

After that I can add the CircleCI build badge and remove the TravisCI config.

[2015-06-14 08:52] marcelmay commented on #76
I made the timeout configurable (see [ServerStartStopTest.testServerStartupTimeout()](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/test/java/com/icegreen/greenmail/server/AllocateAvailablePortTest.java) ) :
[code]
Note:
- Setting a timeout does not work with GreenMailRule at the moment
- As a hint, you can optimise the GreenMail startup time by only configuring t

[2015-06-14 08:54] #72 closed

[2015-06-14 08:59] marcelmay commented on #76
FYI, just deployed a snapshot 1.4.2-SNAPSHOT to the [maven snapshot repo](https://oss.sonatype.org/content/repositories/snapshots/com/icegreen/)

[2015-06-14 08:59] #76 closed

[2015-06-14 09:03] marcelmay commented on #69
@buildscientist Thanks - I just [fixed](https://github.com/greenmail-mail-test/greenmail/commit/3e0d411666034979d355ee665fcd79cdd96a3f5b) another issue when stopping GreenMail . This can occur when quickly starting/stopping GreenMail. Maybe that was it.

Lets keep an eye on start/stop issues!

[2015-06-17 09:43] Paranoid-User commented on #76
Thank you guys. Great job!

[2015-06-21 19:19] marcelmay opened #80 "Delete a user"
Implement deleting a user. Currently, deleting a user throws an not-implemented-exception.

[code]

[2015-06-21 19:23] #80 closed

[2015-06-22 02:52] buildscientist commented on #69
@camann9 @marcelmay can I close this issue out? We're still running on TravisCI.

I'm not an admin on this repo/org so I can't add it to CircleCI.

[2015-06-22 10:26] camann9 commented on #69
I'm fixing it today :-) . finally I have time

On Mon, Jun 22, 2015, 4:52 AM Youssuf ElKalay <notifications@github.com>
wrote:

[2015-06-22 11:42] buildscientist commented on #69
Cool thanks. @marcelmay looks like we're still running into that issue where the ServerStartUp port is not being released properly. I can look into this later today.
Do we want to back out the last merge until this is resolved?

[2015-06-22 11:44] camann9 commented on #69
I'm looking at it now (once my IDE is set up again....)

On Mon, Jun 22, 2015, 1:42 PM Youssuf ElKalay <notifications@github.com>
wrote:

[2015-06-22 11:54] camann9 commented on #69
This seems to be some problem associated with running on Circle (or on
linux). On my Windows machine the build+test runs in 10 secs without error.

Christian Amann <camann9@gmail.com> schrieb am Mo., 22. Juni 2015 um
13:43 Uhr:

[2015-06-22 14:24] camann9 commented on #69
I sadly have to get some other suff done today. I'll see if I can do
something about those failures. I think it tkaes some playing around to
find out which test doesn't deallocate its port and why it doesn't.

Christian Amann <camann9@gmail.com> schrieb am Mo., 22. Juni 2015 um
13:54 Uhr:

[2015-06-22 15:46] camann9 commented on #69
Ok, this seems to be not very reproducible. I Ignored some tests and ran the build and it worked. Then I removed all ignores and ran the build again and it failed. Then I reverted to the state with some ignores and it failed again. The behaviour is very strange. Maybe someone else can look into it. I'm gonna re-enable all tests again.

[2015-06-22 15:50] camann9 commented on #69
See build https://circleci.com/gh/greenmail-mail-test/greenmail/15 . Some test runs work, some not. The runs are with different JVMs but that shouldn't have any influence. AFAIK they just fail/pass randomly.

[2015-06-22 18:21] marcelmay commented on #69
I suspect an issue with stopping GreenMail (so the next test will not able to bind to port). I'll enable full debug, so we can better see what's going on.

[2015-06-22 18:25] marcelmay commented on #69
Also, we should maybe experiment on a test branch ... ?

[2015-06-22 18:25] buildscientist commented on #69
@marcelmay You can ssh into the box that runs the actual test - hit the "Debug SSH" button to redo the build and you'll be able to login with your GitHub SSH key.

[2015-06-22 18:26] marcelmay commented on #69
Thx!

[2015-06-22 18:30] buildscientist commented on #69
@marcelmay Sure - CircleCI supports running builds against branches. Note: We can only have 1 build run against a code-line at a time.

[2015-06-22 19:14] camann9 commented on #69
Yeah, I was thinking about creating a separate branch but then I thought it
would be resolved faster. Seems like it isn't...

On Mon, Jun 22, 2015, 8:30 PM Youssuf ElKalay <notifications@github.com>
wrote:

[2015-06-22 19:23] buildscientist opened #81 "Use a code coverage as a service tool"
There are a number of online code coverage services like [Coveralls.io](http://coveralls.io) and [Codecov.io](http://codecov.io) that allow users to publish code coverage metrics online.

Given that we want to encourage users to write tests in addition to their PR's - this might be a good way of doing so.

[2015-06-22 19:26] buildscientist opened #82 "Automate Maven SNAPSHOT/Release Deployments"
Currently both SNAPSHOT and release deployments are done manually. Now that we're using CircleCI - #69 we should enable releases/snapshots to be done automatically. This removes the burden of releases on @marcelmay and allows any of the core contributors to release GreenMail.

[2015-06-24 12:26] buildscientist commented on #69
@camann9 @marcelmay I think I figured out what might be causing this issue - but I'm still working on refactoring DummySSLServerSocketFactory to get this to work - have a look at f351b4fd123750b0c73f335b9a50f52d0c954588 and 62ebb8b0295e3a279142aef512e3295096dcd552 for an idea of what I'm trying to do.

[2015-06-24 18:46] marcelmay commented on #69
Looks interesting - any success so far?

Would be interesting to see the still open connections and their state when the issue occurs...

Cheers,
Marcel

[2015-06-24 19:28] buildscientist commented on #69
Not really - I need to write a unit test for this so I'm not having to rely on a CircleCI builds to reproduce the issue.

[2015-06-24 19:43] marcelmay commented on #81
With Sonar we'd get code coverage and static analysis etc. So http://nemo.sonarqube.org/ would be very helpful

[2015-06-24 21:03] marcelmay opened #83 "Retire greenmail-jboss-service"
Consider retiring greenmail-jboss-service in the future (2.0?), as it is
- only useful up to JBoss AS 6 (see #63)
- download stats from central show low interest

[2015-06-30 00:48] buildscientist commented on #69
One thing I'm considering doing is looking into why the tests create serversockets on the same ports each time the test runs. Shouldn't those be randomized to run anything above >1024 ?

If we're running into TIME_WAIT situation we can temporarily get around this by running on randomized ports for each test run.

[2015-07-17 18:48] marcelmay commented on #69
@buildscientist : Your idea with setReuseAddress worked for my pull request (successful build) but failed when merged... my fault.

[2015-07-18 23:40] buildscientist commented on #69
So we have an outstanding issue where every other build fails. It looks like CircleCI uses Docker to run the builds. I am working with the support team to see if the container can be restarted between every mvn test run to flush TCP connection tables.

Test wise I am unable to reproduce this. @marcelmay and I spent some time debugging this and looking into kernel parameters but if CircleCI is runn

[2015-07-21 16:27] buildscientist commented on #69
Added   - sudo sysctl net.netfilter.nf_conntrack_tcp_timeout_time_wait=1 to the circle.yml config on my issue-23 branch and I'm still running into the same issue.

CircleCI support stated the following:

[code]

I am going to rewrite the circle.yml to run one test and see about debugging the issue further. It doesn't look like the call to SocketServer.setReuseAddress(true) is being honored. @marce

[2015-07-27 20:47] marcelmay commented on #69
I can reproduce the issue on docker on my Mac now.

@buildscientist : Tests run on 127.0.0.1, AFAIK

[2015-08-03 13:08] philiplourandos opened #89 "Issue with SMTP via javaxmail api"
Hi there,

I have an application using spring-integration to poll a mail server and store the messages in the designated inbox.

I am able to start the green mail server and send a mail. However the javaxmail api is where thing go wrong. In com.sun.mail.imap.protocol.IMAPProtocol#processGreeting a check is made to see if the IMAP response key is equal to 'PREAUTH' which it is not, the message just

[2015-08-03 17:08] marcelmay commented on #89
Can you provide a simple test case or at least the relevant Spring configuration you're using?

[2015-08-04 04:19] philiplourandos commented on #89
[code]

[code]

[code]

[code]

[2015-08-04 21:24] marcelmay commented on #89
Hi Philip,

thanks for the input. EmailInteractionRepository is missing but I can work around that.
Here are some comments:

1. You speak IMAP using the SMTP port **3025**, which should be **3143** instead when configuring int-mail:inbound-channel-adapter:

2. Make sure "theblacklodge" is DNS resolvable (required by the way org.springframework.integration.mail.AbstractMailReceiver creates the Java

[2015-08-05 06:00] philiplourandos commented on #89
*facepalm* yup that's the main culprit right there.

Yup did have entry in /etc/hosts

Think I am seeing the same thing now

[code]

[2015-08-12 13:27] rucek opened #90 "UID ranges with a wildcard don't work properly"
According to [section 6.4.8](https://tools.ietf.org/html/rfc3501#section-6.4.8) of RFC 3501, when a `*` wildcard is used in an UID range and the mailbox is not empty, at least the last message in the mailbox should be fetched, even if its UID is below the range start:

Greenmail behaves differently, i.e. fetches no messages when the range start is greater than the max UID in the mailbox.

I have a

[2015-08-14 01:50] buildscientist commented on #66
This Github project might be handy in developing this feature - https://github.com/OAuth-Apis/apis

[2015-08-14 01:52] buildscientist commented on #69
@marcelmay Can you export your docker config?

At this point I'm wondering whether or not we should continue using CircleCI - as we're blocking open PR's :-1:

[2015-08-14 01:57] buildscientist opened #92 "Write mock tests"
A large number of our tests startup GreenMail and open/close sockets against localhost. Given the issues we're running into with CircleCI in issue #69 we should look into writing mock tests using a framework like PowerMock or Mockito.

We gain from having faster tests run and separating out integration tests from pure unit tests.

@marcelmay @camann9 any thoughts on this?

[2015-08-15 09:05] marcelmay commented on #90
Thanks alot for the patch, I'll look into it.

[2015-08-17 19:01] marcelmay commented on #90
Pull request looks good - local build runs successful and no Sonar issues.

[2015-08-17 19:02] #90 closed

[2015-08-18 07:15] rucek commented on #90
@marcelmay would this fix be released to Maven Central in 1.4.2-SNAPSHOT or is it only scheduled for 1.5? I'm temporarily using my own repo to host the patched version and I'll be happy to switch back to Central as soon as possible.

[2015-08-18 20:46] marcelmay commented on #90
@rucek : I updated the SNAPSHOT repo:
https://oss.sonatype.org/content/repositories/snapshots

[2015-08-21 22:13] marcelmay commented on #69
@buildscientist Strange now everything works in Docker (see https://gist.github.com/marcelmay/c344ff8d17fea79d3df6)

[2015-08-21 22:24] buildscientist commented on #69
@marcelmay The gist references oracle jdk 7. Have you run this on CircleCI or just locally?

[2015-08-25 13:43] mhiemstrapodiumtv opened #93 "ImapHostManager returns 2 messages and greenmail.getReceivedMessages return none"
I am experiencing a serious issue with greenmail. I setup greenmail to receive emails on port 2525 and in my code I send an email to that port using apache email project. The emails are sent.

My code to startup greenmail is this:
[code]
After the email is sent I execute the following code:
[code]

Now when I call `greenMail.getReceivedMessages()` an empty list is returned.
The line `greenMail.wai

[2015-08-29 12:21] marcelmay commented on #93
Hi Martijn,

which version of GreenMail do you use?

I tried to reproduce with current master (1.4.2-SNAPSHOT) using a small test (see below).
Is ```greenMail.waitForIncomingEmail ( 2 );``` returning true?

[code]

[2015-09-23 08:29] cgaulay opened #94 "GreenMail web interface"
Hi,

there is any web interface to use GreenMail ? for example to list all users on a server ?
I see there is a greenamil-site directory. how to use it ?

thanks,
Regards

[2015-09-26 15:57] awgtek opened #95 "Possibly an issue, but does greenmail support multipart/mixed messages?"
When constructing multipart/mixed messages containing a tree of multipart/related and multipart/alternative sections with both inline images and attachments, I get errors indicating no content is found. Just wondering whether these mixed type messages are supported and if not whether it's on the road map? Oh and if so, are there any examples of usage? Thanks!

[2015-09-26 20:17] buildscientist commented on #94
@cgaulay GreenMail currently does not have a web interface. If you want to list all users on a server call UserManager.listUser() - this will return a collection of GreenMailUsers.

You can also use the same class to create and delete users.

As GreenMail is a testing tool - it's most likely we won't be developing a web UI for it. I wouldn't be averse to creating a general purpose REST API to do t

[2015-09-26 20:18] buildscientist commented on #95
@awgtek Can you submit a PR with a unit test detailing the issue?

[2015-09-26 20:24] buildscientist commented on #69
Closing this issue as builds are now stable on CircleCI.

[2015-09-26 20:24] #69 closed

[2015-09-28 08:37] cgaulay commented on #94
@buildscientist Thanks for your answer !
Yes, i know this method listUser(). But we can use it only on a GreenMail server launched like greenmailserver.star(). It can't be used on a GreenMail server launched like a webapp with a WAR file.

It is possible to connect on a smtp server (GreenMail) with GreenMail lib ?
Thanks in advance.
Regards,

[2015-09-29 10:14] cgaulay opened #96 "Squirrelmail read error"
Hi,

i want to use SquirrelMail for reading mail on my GreenMail server.
The connection is ok, but there is an error on SquirrelMail inbox folder:
ERROR: Connection dropped by IMAP server.
Query: SEARCH UID 1:*

In GreenMail logs there is theses errors :

Thread-5911] WARN com.icegreen.greenmail.imap.commands.SearchCommand - Ignoring not yet implemented search command 'UID' java.lang.IllegalArgume

[2015-09-30 15:38] awgtek commented on #95
I have no pull request to provide. I was hoping this was not really an issue and I was overlooking something. Here is the unit test that fails with an exception in the part that parses the mail received from greenmail. Parts adapted from http://www.hascode.com/2012/07/integration-testing-imap-smtp-and-pop3-with-greenmail/ and elsewhere.
[code]

[2015-10-01 19:40] marcelmay commented on #96
Might be related to issue #2.

UID search is currently not implemented, so I'll flag it as an enhancement.

[2015-10-02 01:42] buildscientist commented on #94
@cgaulay As I said in my previous comment we don't have an HTTP interface that would allow you to list all configured users in GreenMail. There are a number of things you'll want to keep in mind:

* If you run Greenmail in a servlet container (e.g. Tomcat or Jetty) - you'll need to configure the users in the web.xml file. See our website's [documentation](http://www.icegreen.com/greenmail/#deploy_

[2015-10-02 01:45] buildscientist opened #97 "Move greenmail-site to its own repo"
Per a question regarding greenmail-site in issue #94 I think it would be a good idea to put greenmail-site into it's own repo. Most contributors to GreenMail aren't going to make changes to the site.

/cc @marcelmay @waelchatila @camann9

[2015-10-02 01:46] buildscientist commented on #93
Hi @mhiemstrapodiumtv - are you still having issues with this?

[2015-10-04 20:55] marcelmay commented on #97
@camann9 and I discussed this a year ago, as I had the same thought. But @camann9 convinced me to keep the site with the sources, so that you can commit source changes and document updates in one step. The site is also version specific - for example it currently already contains description of features for the next release.

[2015-10-04 20:58] marcelmay commented on #94
Rather than providing a web interface there's a REST API on the roadmap (expose GreenMail API eg via JMX, which is easily exposed as REST via [Jolokia](https://jolokia.org/).

[2015-10-04 21:00] marcelmay opened #98 "Provide a standalone runner for GreenMail"
Provide a standalone runner for easy testing (eg for the Squirrel issue #96 ).
The standalone runner should be configurable externally via system properties.

[2015-10-05 03:18] buildscientist commented on #98
@marcelmay By standalone runner do you mean self contained WAR? Not sure if we want to pull in something like [Spring Boot](http://projects.spring.io/spring-boot/) or [Winstone](http://winstone.sourceforge.net/)

Winstone is lighter weight - but since we already have a GreenMail SpringBean defined.

[2015-10-05 03:19] buildscientist commented on #97
Makes sense - closing issue.

[2015-10-05 03:19] #97 closed

[2015-10-05 03:43] buildscientist commented on #94
@marcelmay Jolokia looks like an interesting library but here are my issues with it:

1. Jolokia exposes JMX/mbean data via HTTP, what does this buy our users?
GreenMail is a testing tool - who's going to be capturing and monitoring this data?
2. Accessing existing mbeans is done in a very ugly (non RESTful) manner - e.g. to obtain current heap usage I'd make an HTTP GET call on:
[code]
The key-va

[2015-10-05 04:39] buildscientist commented on #95
@awgtek I copied your code verbatim, ran it and it passed. I have a couple of questions for you:

1. What version of GreenMail are you using? I ran the test against the latest in Master.
2. What version of commons-email and spring-context-support are you using? I have the following defined in my local POM

[code]
3. While the email does have a content-type of multipart/mixed I'm not sure it consti

[2015-10-05 04:53] buildscientist commented on #89
@marcelmay Can I close this issue? Looks like it's been resolved with your commit in 1acb351f159f6a1428475bd04f8122177f610b89

[2015-10-05 04:57] buildscientist commented on #98
@marcelmay Just saw your latest commit - I see what you mean by standalone. Do you think our WAR package would benefit from using something like Winstone?

[2015-10-05 05:00] buildscientist opened #99 "Modify GreenMailUtil to remove all emails"
As mentioned in issue #62 it would be nice to have a utility method to remove all emails from active message stores.

[2015-10-05 07:21] mhiemstrapodiumtv commented on #93
Hi Youssuf,

I haven't had time to test it due to other projects having priority
above our test project and it's been really busy around here. I hope to
let you know as soon as possible perhaps this week.

Martijn

On 02-10-15 03:46, Youssuf ElKalay wrote:

[2015-10-05 17:01] awgtek commented on #95
@buildscientist  you are right. I was using GreenMail 1.3. Upgrading to 1.4.1 fixed the above test.
BTW, any timeline on when 1.4.2 will be posted to Maven central? Seems there's some fixes in there for the tests.

Closing the issue, thanks for your help!

[2015-10-05 17:01] #95 closed

[2015-10-05 18:56] marcelmay commented on #89
@philiplourandos :
Just updated snapshots deployment to https://oss.sonatype.org/content/repositories/snapshots with version 1.4.2-SNAPSHOT. Please reopen if problem persists.

[2015-10-05 18:56] #89 closed

[2015-10-05 19:01] #43 closed

[2015-10-06 15:30] cgaulay opened #100 "Memory leak issue with Greenmail"
Hi,

j've installed Greenmail as a webapp but there is a problem in catalina logs :

oct. 06, 2015 5:14:48 PM org.apache.catalina.loader.WebappClassLoaderBase clearReferencesThreads Avertissement: The web application [/greenmail] appears to have started a thread named [Thread-1031] but has failed to stop it. This is very likely to create a memory leak. Stack trace of thread: com.icegreen.greenmail

[2015-10-06 21:53] marcelmay commented on #100
Hi @cgaulay,

which version did you use of GreenMail and of Tomcat?

Thx,
Marcel

[2015-10-07 07:20] cgaulay commented on #100
Hi @marcelmay ,

i use GreenMail 1.4.1 on a Tomcat7 server.

Charly

[2015-10-07 08:11] cgaulay commented on #94
Ok,

thanks a lot.

Charly

[2015-10-07 08:11] #94 closed

[2015-10-09 12:51] cgaulay commented on #100
Hi @marcelmay,

just a little precision : I use Javax Mail  API to connect and browse mailbox in GreenMail webapp.
And during some tests, I've noted this :
when I try to connect on a store with imap using store.connect(mailhost, mailport, mailuser, mailpassword) with wrong login/password (user don't exists on GreenMail), I've got a Javax Mail exception (that's normal) :
javax.mail.AuthenticationFa

[2015-10-09 12:51] #100 closed

[2015-10-15 21:34] buildscientist opened #102 "Setup parallel builds on CircleCI"
CircleCI currently provides us 4 build executors but we're not taking advantage of build parallelization.

Modify the CircleCI config to build Greenmail using one version of the JDK per build executor.

[2015-10-16 01:39] buildscientist commented on #66
The Google page on XOAUTH2 has some solid notes on implementing it with [IMAP](https://developers.google.com/gmail/xoauth2_protocol#imap_protocol_exchange) and [SMTP](https://developers.google.com/gmail/xoauth2_protocol#smtp_protocol_exchange)

[2015-10-16 01:43] buildscientist commented on #36
I think this was done with your commit here 00d584f497c3e4656d26720871fc62a04a5df935

Closing issue.

[2015-10-16 01:43] #36 closed

[2015-10-16 01:45] buildscientist commented on #38
:100:  :+1: for this - I think using the [builder pattern](https://en.wikipedia.org/wiki/Builder_pattern) is the way to go.

[2015-10-16 01:46] buildscientist commented on #82
So @marcelmay had made a good point that we do NOT want to store Maven central auth keys anywhere in the cloud. I still would like to automate the release process but will close this for the time being.

[2015-10-16 01:46] #82 closed

[2015-10-16 01:48] buildscientist commented on #81
Closing this as it is identical to #42

[2015-10-16 01:48] #81 closed

[2015-10-16 01:53] buildscientist commented on #42
We can use [SonarQube's Nemo](http://nemo.sonarqube.org/) instance for this. It looks like we'll need to ask for permission from the maintainers to add GreenMail to the project.

Based on this SonarQube Google Groups [thread](https://groups.google.com/forum/#!topic/sonarqube/aljQvn4hNz0) it appears that Sonar runs are pull based only. I'll see if we can have this run per build - otherwise it's cou

[2015-10-16 02:12] buildscientist commented on #59
@dswitzer can you provide some additional feedback regarding your requirements?

For example as @camann9 mentioned GreenMail by default creates a user for any email address that it sends email to.

Would it be correct in saying that you would like some sort of configuration/property driven option to disable that functionality - e.g. don't automatically create users?

I can look at modifying the Us

[2015-10-16 02:13] buildscientist commented on #93
@mhiemstrapodiumtv Any updates on this? Can you submit a PR with a unit test?

[2015-10-16 02:21] dswitzer commented on #59
So it's really two requests:

* accept any password as valid. We use Greenmail to mimic a real mailer
server in our a application for QA. We sometimes need to test against a
production configuration. I'd love if greenmail basically ignored the
password and just accepted anything as valid.

* accept any username as valid. If you send email to a mailbox, a user is
automatically created. I'd like to

[2015-10-16 02:38] buildscientist commented on #59
The first requirement makes sense. The second not as much.

Here's where I'm confused:

You said:
[code]
This feature already exists.

Your statement was followed by:

[code]
This is what I'm confused about. You want users automatically created - BUT if they do not exist return an empty mailbox? How can I return an empty mailbox when:

1. The user is automatically created therefore the mailbox is

[2015-10-16 02:44] buildscientist commented on #59
Just gave this some additional thought and it sounds like this is what you're looking for:

1. Allow SMTP/IMAP/POP3 connections using accounts with any password.
2. If an user account doesn't exist when connecting via SMTP/POP3/IMAP - create an account and return an empty mailbox.

Is that correct?

[2015-10-16 07:17] mhiemstrapodiumtv commented on #93
Hi Youssuf,

Currently things aren't going well at the company I am working for and I
will probably leave this company soon. So I won't have any updates on
this. If no one else has reported something like this then it's probably
an issue with my code.

Anyhow thanks your time,
Martijn

On 16-10-15 04:13, Youssuf ElKalay wrote:

[2015-10-16 12:10] dswitzer commented on #59
That's correct. I want to be able to connect to a mailbox that doesn't
exist yet. When we do a production test, the mailboxes generally won't
exist in Greenmail. I can seed Greenmail, but for us, it would be more
ideal if Greenmail would just go "ok, this account doesn't exist, let me
automatically create it now and return an empty mailbox."

Thanks!

On Thursday, October 15, 2015, Youssuf ElKalay

[2015-10-17 09:49] marcelmay commented on #100
It seems that tomcat incorrectly complained, as the thread stack shows GreenMail processing an IMAP request. Looks like a client still has an open connection with GreenMail. Therefore, I'll flag the issue as invalid.

[2015-10-17 09:59] marcelmay opened #103 "Support search with UID sequence"
Extend search to support UID sequence.
See http://tools.ietf.org/html/rfc3501#section-6.4.4

This feature fixes part of #2  and relates to #20 .

Note: JavaMail itself does not support UID search via SearchTerm but by Folder.

[2015-10-17 14:25] #103 closed

[2015-10-17 14:29] marcelmay commented on #2
With latest commit for #103, Squirrelmail at least shows messages. There is still an issue when fetching message details:

[code]

[2015-10-18 13:48] marcelmay opened #104 "IMAP Fetch using single atomic option fails"
Fix IMAP FETCH to allow single option without parentheses, as according to [RFC 3501](https://tools.ietf.org/html/rfc3501#section-6.4.5):

GreenMail IMAP Fetch expects always parentheses, even if client sends only a single option.

[2015-10-18 13:52] marcelmay commented on #104
Fixed in 6f046bf

[2015-10-18 13:52] #104 closed

[2015-10-18 13:57] marcelmay commented on #2
Just committed another fix #104 affecting Squirrelmail.

- Composing mail works
- Listing mails in inbox works
- Opening mail works
- Search Body/Subject/Everywhere works
- Search From/CC/TO ***fails*** :
[code]

[2015-10-18 15:16] marcelmay commented on #98
Closing this issue for now.

Possible extensions for standalone runner are
* support reading configuration properties from file: -Dgreenmail.config=my-test-config.properties

[2015-10-18 15:16] #98 closed

[2015-10-18 15:21] marcelmay commented on #96
Fixed in #103.

Note: There was an additional error, see #2 for tracking squirrelmail. Squirrelmail seems to mostly work now, except for some search issues.

[2015-10-18 15:21] #96 closed

[2015-10-18 15:24] marcelmay commented on #93
Closing now as I could not reproduce with my test above.

[2015-10-18 15:24] #93 closed

[2015-10-18 16:41] buildscientist commented on #34
Not needed as users can always submit a Github issue.

[2015-10-18 16:41] #34 closed

[2015-10-18 16:45] buildscientist commented on #38
Should be up to the user to decide whether to use Apache Commons Email or Spring Email libraries.

Recommend using one of those libraries instead of using GreenMailUtil. Add documentation to website detailing how to do the same using Apache Commons Email/Spring Email.

[2015-10-18 16:51] buildscientist commented on #41
Dropping enhancement as this is not really IMAP specific - but more of an add on to the protocol.

[2015-10-18 16:51] #41 closed

[2015-10-18 17:01] buildscientist commented on #37
@markrogersalfresco Hi - do you have any tests that go along with the patches you mentioned in #46?

Thanks,
Youssuf

[2015-10-18 17:01] buildscientist commented on #46
Closing. We have a number of patches from an Alfresco patch. See #37 for more details.

[2015-10-18 17:01] #46 closed

[2015-10-18 17:14] buildscientist commented on #92
Closing as we're already using EasyMock and have a large number of integration tests.

[2015-10-18 17:14] #92 closed

[2015-10-19 18:59] buildscientist commented on #42
GreenMail is setup on [Nemo SonarQube](http://nemo.sonarqube.org/dashboard/index?id=com.icegreen%3Agreenmail-parent)

Note the following regarding pull based Sonar builds:

[code]

Closing.

[2015-10-19 18:59] #42 closed

[2015-10-19 20:47] hotmeatballsoup opened #105 "Greenmail webapp war does not deploy in Tomcat 7.0.63"
I downloaded the [Greenmail WAR]() from your Downloads link, which prompted my machine to download `greenmail-webapp-1.4.1.war`.

I then moved this WAR to my `$TOMCAT_HOME/webapps` directory and ran Tomcat (7.0.63) like normal (`$TOMCAT_HOME/bin/startup.sh`).

I tailed the `$TOMCAT_HOME/logs/catalina.out` log for errors and don't see any. According to the logs, Greenmail deployed just fine.

I the

[2015-10-20 02:53] marcelmay commented on #105
As described in the [documentation](http://www.icegreen.com/greenmail/#deploy_webapp), GreenMail webapp is only a deployment wrapper, configuring GreenMail via web.xml settings.

If you want to see mails, please use a standard mail client (Thunderbird, Mail.app, ...) and connect to either GreenMail IMAP server (activate in web.xml) or POP3 server (localhost:10110).

If you can send mails to GreenM

[2015-10-20 02:54] marcelmay opened #106 "Provide a default page for GreenMail WAR"
Provide a default page showing current configuration.

See #105 .

[2015-10-20 14:00] hotmeatballsoup commented on #105
Thanks @marcelmay!

Yes, directions for how to activate the GreenMail IMAP server in `web.xml` and then connect to it from a client (say, Thunderbird) would be *enormously* appreciated!

[2015-10-21 13:12] rbaldock opened #107 "Problem testing multi-part emails"
When I try to test the sending of a multi-part MIME message using:

GreenMailUtil.sendMimeMessage(multiPartMimeMessage);

No message is received.

However, when I use:

user.deliver(multiPartMimeMessage);

The message is received.

What's the difference between these two methods?

Robert

[2015-10-21 16:05] buildscientist commented on #105
Closing as an enhancement has been opened in #106

[2015-10-21 16:05] #105 closed

[2015-10-21 16:15] buildscientist commented on #107
Hi @rbaldock - when you invoke:
[code]
As stated in the Javadocs for the method there is an assumption that an instance of Session is already defined in your MimeMessage.

See the JavaDocs for [MimeMessage](https://docs.oracle.com/javaee/7/api/javax/mail/internet/MimeMessage.html) for more details - the default constructor expects an instance of [Session](https://docs.oracle.com/javaee/7/api/javax

[2015-10-21 16:20] buildscientist opened #108 "Develop a RESTful API for GreenMail-WebApp"
GreenMail-Webapp should have a RESTful API to allow non Java API users to use GreenMail.

The following should be included:
* Deployable WAR
* Clean RESTful API following [HATEOAS](https://en.wikipedia.org/wiki/HATEOAS)
* [Swagger](http://swagger.io/) template to generate client side libraries for RESTful API
* Implementation of CRUD operations for user management, starting/stopping GreenMail serv

[2015-10-21 16:20] buildscientist commented on #17
Closing as this is related to #108 which includes more well defined requirements.

[2015-10-21 16:21] #17 closed

[2015-10-21 21:20] rbaldock commented on #107
Thanks for that.  I am constructing my MimeMessage around a Session which I create like this:

	Properties props = System.getProperties();
        props.put("mail.smtp.host", LOCALHOST);
        props.put("mail.smtp.port", "10025");

        Session session = Session.getInstance(props, null);

It works OK for regular MimeMessages but doesn't seem to for multi-part messages.

If you know of a code

[2015-10-21 21:40] buildscientist commented on #107
@rbaldock A quick Google search brought up the following [blog entry](http://www.aviyehuda.com/blog/2009/12/07/send-a-multipart-smtp-email-message-with-java/) that has examples of sending a multi-part MimeMessage.

If you're not comfortable using JavaMail - I'd recommend looking at the following libraries:

* [Apache Commons Email](http://commons.apache.org/proper/commons-email/)
* [Spring](http:/

[2015-10-21 21:40] #107 closed

[2015-10-22 06:18] #99 closed

[2015-10-22 11:20] rbaldock commented on #107
As this issue has been closed, I'm not sure I can reply to it.

I know how to create a multi-part MimeMessage in Java.  What I was
looking for was an example of a Greenmail test which uses multi-part
messages as I wasn't able to get it working.  It doesn't even seem to
throw an error.

However, I shall keep investigating to see whether there's an issue with
the way I'm constructing my message.

Ro

[2015-10-23 14:31] marcelmay commented on #107
You can have a look at some of tests, eg [ImapServerTest.testRetriveMultipart](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/test/java/com/icegreen/greenmail/test/ImapServerTest.java),  ~line 95,
or directly in [GreenMailUtil. sendMimeMessage](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/main/java/com/icegreen/greenmail/util/Gree

[2015-10-31 05:54] #102 closed

[2015-11-30 15:48] rania-globalorange commented on #32
Hi,
What is the current status about this? Will it be in version 1.5 and if so when can we expect it?

Thanks a lot!

[2015-11-30 16:46] marcelmay commented on #32
Hi @rania-globalorange ,

we plan a 1.5 for around new year.

If you want to help, you could provide a test case (or even a patch)... thx!

[2015-12-21 12:42] marcelmay opened #111 "Provide a docker image for GreenMail standalone"
Providing a docker image for GreenMail standalone allows easy testing and running GreenMail.

- Create a GreenMail standalone docker image
- Publish to [docker hub](https://hub.docker.com/r/greenmail/standalone/)
- Integrate with Maven build using [docker maven plugin](http://ro14nd.de/docker-maven-plugin)

Note: Should extend GreenMail for new feature: auto user authentication (#59)

[2015-12-29 17:24] marcelmay opened #112 "Require Maven 3.2.1+ for building"
Increase the specified minimum Maven version from 3.0.5+ to 3.2.1+ .

[2015-12-29 17:27] #112 closed

[2016-01-10 16:21] DavidWhitlock opened #113 "JavaMail can't parse BODYSTRUCTURE for inline attachment"
First off, I really like what you've done with GreenMail and I'm super happy about being able to test my JavaMail code with an embedded IMAP server.

While writing some integration tests with GreenMail, I came across what I believe is a defect in GreenMail's IMAP server.  When I send a mail message with an inline text/plain attachment to GreenMail via SMTP, JavaMail can't parse the BODYSTRUCTURE p

[2016-01-10 17:25] marcelmay commented on #113
Hi @DavidWhitlock ,

thanks for providing a test. I'll look into it.

[2016-01-10 19:05] DavidWhitlock commented on #113
I sent an email to my GMail account that had an inline text/plain attachment (note that the text in this attachment is larger than the one in the test).  When I ran the test using GMail's IMAP server, JavaMail was able to parse the message.  I think this is the relevant debugging output:

[code]

The `parameter list NIL` might be relevant.  In the failing test, GreenMail send back this response to

[2016-01-10 20:46] marcelmay commented on #113
Hi David,

you're right - that was the issue.

I fixed it and uploaded a new [Maven snapshot](https://oss.sonatype.org/content/repositories/snapshots/com/icegreen/greenmail/1.4.2-SNAPSHOT) (or pull and build GreenMail yourself).

Cheers,
Marcel

[2016-01-10 21:04] DavidWhitlock commented on #113
Excellent, @marcelmay.  I used the snapshot version and my test passed.  Please consider this issue closed.

[2016-01-10 21:04] #113 closed

[2016-01-23 12:37] marcelmay commented on #32
Hi @rania-globalorange ,
I integrated some fixes based on the Alfresco patch. It's deployed as latest SNAPSHOT.
Can you give it a try if it is still an issue? I tried to provoke it with different file.encoding settings etc.

Thx!

[2016-01-24 18:44] buildscientist commented on #62
What's the status of this issue? Can we close this?

[2016-01-26 06:51] marcelmay commented on #62
Still open, I assigned it to myself.

[2016-01-26 12:22] Chessray commented on #62
@marcelmay The pull request is already there, please just review and merge. Sorry that I didn't pay attention to this anymore lately - I've been assigned to a completely new project, so I felt no more pressure to keep an eye on this. ;)

[2016-02-14 17:10] marcelmay opened #114 "Support COPYUID in IMAP CopyCommand"
CopyCommand should generate
http://tools.ietf.org/html/rfc2359#page-4

Thx to Alfresco for providing fix!

[2016-02-14 17:25] #114 closed

[2016-02-14 18:02] marcelmay opened #115 "Remove deprecations due for 1.6 release"
Remove deprecations before releasing 1.6 .

[2016-02-28 17:20] marcelmay commented on #32
Closing issue. Please reopen if persists.

[2016-02-28 17:20] #32 closed

[2016-03-05 11:14] marcelmay opened #118 "Require minimum JDK 1.7"
Update required JDK version from 6 to 7.

[2016-03-05 11:49] #118 closed

[2016-03-07 08:24] buildscientist opened #119 "Add maintainer info to greenmail/pom.xml"
My details are missing in greenmail/pom.xml

[2016-03-07 08:31] #119 closed

[2016-03-07 20:33] buildscientist commented on #59
@dswitzer This feature has been implemented and merged into master. It will be available with release v1.5 which will be rolled in the next week or two.

See - [ExampleDisableAuthenticationTest.java](https://github.com/greenmail-mail-test/greenmail/blob/0e9fda0e7919a3a62d82169428508a8c70065f0b/greenmail-core/src/test/java/com/icegreen/greenmail/examples/ExampleDisableAuthenticationTest.java) for h

[2016-03-07 20:33] #59 closed

[2016-03-07 20:47] dswitzer commented on #59
Fantastic!

[2016-03-10 08:57] reda-alaoui opened #122 "RFC 5256 - Implement IMAP SORT command"
Today, IMAP SORT command is not supported by GreenMail.

In our current project, some code parts use JavaMail to fetch Imap folder with sort terms.
It would be great to be able to test it through GreenMail.

[2016-03-10 21:08] marcelmay commented on #122
Thanks alot for the great patch! We'll roll release 1.5 probably on this or next weekend.

[2016-03-10 21:08] #122 closed

[2016-03-10 21:58] buildscientist opened #123 "Code of conduct"
Just realized we don't have a contributor code of conduct in our project. I don't think this is an issue between us as maintainers but I think we should make it clear to our users/contributors that we have a code of conduct.

See the [code covenant](http://contributor-covenant.org/version/1/4/code_of_conduct.md) for more details.

/cc @marcelmay @camann9

[2016-03-19 21:58] #111 closed

[2016-03-23 23:48] nbaksalyar opened #124 "Consider adding mode to test error handling"
That would be nice if GreenMail had an option to explicitly define error responses to test error handling in user's code.

For example check [MailHog](https://github.com/mailhog/MailHog), a fake SMTP server. It has a [special mode](https://github.com/mailhog/MailHog/blob/master/docs/JIM.md) to randomly reject connections, authentications, etc.

Another good example is Netflix's [Chaos Monkey](http

[2016-03-24 07:11] marcelmay commented on #124
Thanks for input.

We have something like this planned in #40 - where you can define event rules.
Do you have any concrete error cases in mind?

[2016-03-26 02:17] nbaksalyar commented on #124
I guess cases available in MailHog would be a good start:

1. Reject connections (a socket exception);
2. Reject authentication;
3. Reject recipients (`SMTPAddressFailedException`);
4. Reject senders (`SMTPSenderFailedException`).

These should cover most of the basic SMTP errors.
I'm not sure about IMAP, though.

[2016-04-06 01:22] buildscientist opened #125 "Make release artifacts available on release tab"
A number of other projects make release artifacts available on the release page.

I think we should at least make greenmail-standalone and the WAR downloadable to save our users time from having to build these artifacts on their own.

We can grab the artifacts off of CircleCI or off of Maven central.

/cc @marcelmay @camann9

[2016-04-06 01:23] buildscientist commented on #123
Bump @marcelmay - do you think we need this? I think it would be nice to at least add a link to our README.md. We don't currently have any problems but it might prevent something in the future.

[2016-04-06 01:29] buildscientist commented on #44
Apple Mail v7.3 on OS X 10.9.5 connecting to IMAP on 3143 (non SSL) using greenmail-standalone v1.5.0 causes the following exception/warning to be logged:

[code]

[2016-04-06 20:06] marcelmay commented on #125
Artifacts are available via site (http://www.icegreen.com/greenmail/#download), which is primary location for users and links to release notes. Releases do contain link to Maven Central, where also WARs can be downloads. Added additional link to GreenMail site download section.

[2016-04-06 20:06] #125 closed

[2016-04-06 20:07] marcelmay commented on #123
Had not problems in the last 10 years with GreenMail.

[2016-04-06 20:07] #123 closed

[2016-04-06 20:16] marcelmay opened #126 "IMAP FETCH command parse error"
(from #44 , reported by @buildscientist)

Apple Mail v7.3 on OS X 10.9.5 connecting to IMAP on 3143 (non SSL) using greenmail-standalone v1.5.0 causes the following exception/warning to be logged:

This might be fixed by the Alfresco patch for FetchCommand in #37.

`
159694  WARN      commands.FetchCommand| Error processing command: Unexpected end of line. Command should be '<tag> FETCH <message-s

[2016-04-06 20:17] marcelmay commented on #44
Opened issue #126 for this.

[2016-04-12 15:58] jaredculp commented on #59
@buildscientist Is there a way to disable this feature? I'd like to be able to test that invalid credentials are rejected, rather than simply creating a new username/password as is done here: https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/main/java/com/icegreen/greenmail/smtp/SmtpManager.java#L130-L134

[2016-04-12 17:20] marcelmay opened #127 "Support authentication for SMTP"

[2016-04-12 17:21] marcelmay commented on #59
@jaredculp : I'll add this as a new feature #127.

By default, GreenMail did always ignore authentication for SMTP.

[2016-04-12 17:59] buildscientist commented on #127
@marcelmay in hindsight we probably shouldn't have enabled this by default. Now users will need to enable auth for SMTP but it's enabled for IMAP/POP3 by default. There's some cognitive dissonance here from a usability standpoint that makes things confusing.

I suggest we force users to auth against ALL services and then give them the option to disable auth all services.

[2016-04-12 18:17] camann9 commented on #127
As long as we have a flag that controls this and we have the current
default as the default for the new flag I'm good with that.

On Tue, Apr 12, 2016, 10:59 AM Youssuf ElKalay <notifications@github.com>
wrote:

[2016-04-12 23:07] buildscientist commented on #127
@camann9 so what we're saying is that out of box users will NOT have to authenticate against SMTP/IMAP/POP3 - and that a flag or configuration param will be required to activate authentication.

[2016-04-12 23:10] camann9 commented on #127
I think the default state for anything should be to have behavior that's
compatible with the current situation

On Tue, Apr 12, 2016, 4:07 PM Youssuf ElKalay <notifications@github.com>
wrote:

[2016-04-12 23:24] buildscientist commented on #127
Right so therein lies my point - today as it stands authentication is **NOT** required for SMTP. It is required for IMAP/POP3.

If we go with a default of auth not required for all services - users shouldn't have to update tests provided they are not testing for failed authentication.

If we go with a default where auth **IS** required for all services - users will need to update all tests when co

[2016-04-13 05:11] camann9 commented on #127
Yeah, that was my point. We will have to have a third mode for the flag
which makes the behaviour exactly the same as it is now in addition to the
two sane modes (autocreate in all protocols or do not autocreate anything).
And I'm arguing that this mode should be the default.

On Tue, Apr 12, 2016, 4:24 PM Youssuf ElKalay <notifications@github.com>
wrote:

[2016-04-14 13:19] cgaulay opened #128 "Delete mailbox account"
Hi all,

is there any way to delete a mailbox account or mailbox user created by GreenMail ?
i explain you :
GreenMail is deployed like a webapp application.
I use it like a smtp server which catches and create all of mail if it doesn't exists.
But, i want to delete mailbox without shutdown greemail server.
Is it possible ?

thanks in advance,
Regards

[2016-04-14 20:23] buildscientist commented on #128
Unfortunately if GreenMail is deployed as a web service/application there's no way of deleting (or adding) users/mailboxes while the service is running.

You would need to pre-define the users in the [web.xml](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-webapp/src/main/webapp/WEB-INF/web.xml) file as follows:

[code]

We are planning on introducing a RESTful API (see #10

[2016-04-14 20:24] #128 closed

[2016-04-21 06:00] sameepsi opened #129 "IllegalStateException while delivering a message via user"
Build Number- 1.5.0

I was using **user.deliver(message)**; to deliver message to the mail box and received following exception.
Cause: java.lang.NullPointerException java.lang.IllegalStateException: Can not deliver javax.mail.internet.MimeMessage@b98a4 for user UserImpl{email='prateek@test', login='prateek@test'}

Digging further in I found that Folder INBOX did not exist for this user prateek@te

[2016-04-21 06:21] buildscientist commented on #129
Can you submit a unit test or the exact code you're running?

[2016-04-21 06:31] buildscientist opened #130 "Allow import of SSL keystore while services are running"
GreenMail currently uses a bogus hard coded keystore via [DummySSLServerSocketFactory](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/main/java/com/icegreen/greenmail/util/DummySSLServerSocketFactory.java). If the user supplies a keystore in the classpath with a filename of greenmail.jks - this keystore will be loaded.

It would be nice if users can dynamically loa

[2016-04-25 16:06] buildscientist commented on #129
@sameepsi I wrote a small unit test to try and confirm this issue and was not able to reproduce it:

[code]

Going to close this until you can submit sample code. Feel free to reopen this issue.

[2016-04-25 16:06] #129 closed

[2016-04-26 05:15] sameepsi commented on #129
@buildscientist
Hello the issue is not 100% recreatable but it is occuring sometimes. I am posting my code over here.

package greenmailtest;

import java.io.File;
import java.io.IOException;
import java.util.Properties;

import javax.mail.Folder;
import javax.mail.Message;
import javax.mail.MessagingException;
import javax.mail.Session;
import javax.mail.Store;
import javax.mail.URLName;
import j

[2016-04-26 05:20] sameepsi commented on #129
Also sometimes getting this error-:
cause java.lang.NullPointerException
java.lang.IllegalStateException: Can not deliver javax.mail.internet.MimeMessage@184575e for user UserImpl{email='prateek@test', login='prateek@test'}
	at com.icegreen.greenmail.user.UserImpl.deliver(UserImpl.java:67)
	at com.drishti.dacx.client.webaccess.load20.impl.mailbox.UserSimulator.startProcessing(UserSimulator.java:91

[2016-04-26 06:08] buildscientist commented on #129
@sameepsi is this code you pasted part of a JUnit test? If so why is your test being called from main()?

As for the null if you're referring to:
[code]
Returning null in this case is valid if there are no child folders found.

[2016-04-26 07:18] buildscientist commented on #129
@sameepsi your code example is missing this:

[code]

Additionally how can we debug this when we don't have the rest of the code referenced in your stack trace?

[code]

[2016-04-26 08:05] sameepsi commented on #129
public HierarchicalFolder getChild(String name) {
        for (HierarchicalFolder child : children) {
            if (child.getName().equalsIgnoreCase(name)) {
                return child;
            }
        }
        return null;
    }

here children is a collection right and sometime it contains a **null** element and when you do child.getName(), the code will break, that's what I am saying

[2016-04-26 08:20] sameepsi commented on #129
package com.drishti.ameyo.mailbox.simulator.impl;

	import greenmailtest.MailboxSimulatorUtil;

	import java.io.File;
	import java.util.Calendar;
	import java.util.Random;

	import javax.mail.Message;
	import javax.mail.MessagingException;
	import javax.mail.Session;
	import javax.mail.internet.AddressException;
	import javax.mail.internet.InternetAddress;
	import javax.mail.internet.MimeMessage;

[2016-04-26 15:37] cgaulay opened #131 "Delete mail with Greemail deployed as a web service/application"
Hi all,

is there any way to delete a message on a greenmail server when he's deployed as a web service/application ?

I try to set deleted flag on the message and close folder with expunge option but it doesn't work.
The message is still present.

Have you any idea ?
Thanks.

Regards

[2016-04-27 05:09] marcelmay commented on #131
See [ImapServerTest#testExpunge](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/test/java/com/icegreen/greenmail/test/ImapServerTest.java#L421)

[2016-04-27 13:10] pbugalski-atlassian opened #132 "Race condition when receiving emails other SMTP"
There exists a race condition which leads to a client reporting message send error while greenmail SMTP server informed test that all mail has been correctly received.

Imagine following test scenario:
1. greenmail SMTP server is started
2. test code is waiting until an email is received
3. once the email is received greenmail SMTP server is closed

In this scenario the client that was sending the

[2016-04-27 20:53] pbugalski-atlassian opened #134 "circleci will show build with failed tests as successful"
Here is a build with a failed test and status success: https://circleci.com/gh/greenmail-mail-test/greenmail/156#tests

[2016-04-27 21:18] buildscientist commented on #134
We have a [shell script](https://github.com/greenmail-mail-test/greenmail/blob/master/.circleci/parallelize_build.sh) that runs on CircleCI to parallelize the builds.

It's likely I need to capture an error return code from Maven when mvn test runs and fail the build accordingly.

Thanks for the heads up.

[2016-04-27 21:20] buildscientist commented on #134
@pbugalski-atlassian I'm curious - do you work for Atlassian? Are you using GreenMail internally for testing purposes?

[2016-04-29 01:40] buildscientist opened #135 "Greenmail doesn't support STARTTLS command"
None of the GreenMail services (IMAP,POP3,SMTP) support the STARTTLS command as specified in [RFC 2487](https://tools.ietf.org/html/rfc2487) (SMTP) and [RFC 2595](https://tools.ietf.org/html/rfc2595) (IMAP&POP3)

At the very least we should respond stating that the command isn't supported - when it is issued by the client.

After issue #130 is fully implemented we can explore doing verification of

[2016-04-29 09:26] sameepsi commented on #129
any updates on this?? As I am continuously facing this issue.

[2016-04-29 09:35] pbugalski-atlassian commented on #134
Yes. We do use GreenMail for some of our test automation at Atlassian. For example some of our functional test in JIRA use it.

[2016-04-29 23:17] buildscientist opened #136 "Greenmail-standalone JAR missing from Maven Central"
@marcelmay Looks like the link on our website for greenmail-standalone returns a 404. When I try to view the directory I don't see a greenmail-standalone.jar

Was the jar pushed when you issued a mvn deploy?

[2016-04-29 23:29] buildscientist commented on #136
Looks like the artifact is on Maven central but the link on our site is incorrect

It's http://central.maven.org/maven2/com/icegreen/greenmail/1.5.0/greenmail-standalone-1.5.0.jar when it should be http://central.maven.org/maven2/com/icegreen/greenmail-standalone/1.5.0/greenmail-standalone-1.5.0.jar

[2016-04-29 23:37] #136 closed

[2016-05-01 18:20] marcelmay commented on #136
Published site

[2016-05-01 21:51] marcelmay commented on #132
Thx alot, @pbugalski-atlassian  .

The test is quite long running, with some tweaks I got it down to half the time but still too long for a unit test. Maybe I'll put it in a separate test suite of long running tests ...

[2016-05-02 07:06] pbugalski-atlassian commented on #132
This test was meant to be more of a way to show case the issue rather then a proper unit test. Initially I thought it could be simply removed once this PR is accepted but I like the idea of separate suite for more complex and time consuming tests.

[2016-05-04 14:25] mrniko opened #137 "How do I store incoming mail to database?"

[2016-05-09 16:10] buildscientist commented on #137
There's a number of ways you can do this. Keep in mind that data does not persist after restarts of GreenMail.

You can:

- Download the email using Javamail and store the raw email into a database
- Store a serialized [MimeMessage](https://javamail.java.net/nonav/docs/api/javax/mail/internet/MimeMessage.html)  in your database

The question is rather arbitrary and unrelated to GreenMail overall s

[2016-05-09 16:10] #137 closed

[2016-05-09 21:33] mrniko commented on #137
@buildscientist thank you

[2016-05-11 04:58] buildscientist commented on #131
@cgaulay I tested deletes on both POP3 and IMAP accounts and they work fine with GreenMail deployed via a webapp.

Closing as I am unable to reproduce this.

[2016-05-11 04:58] #131 closed

[2016-05-17 06:55] marcelmay opened #139 "Improved debugging : Include binding address in thread name"
When analysing GreenMail logs or when debugging, it helps to see the network address as part of the thread name to better distinguish multi server configuration loggings and threads.

[2016-05-17 07:22] marcelmay opened #140 "Update the patch versions of the dependencies"
commons-io:commons-io ..................................... 2.4 -> 2.5
    org.slf4j:jcl-over-slf4j ............................ 1.7.18 -> 1.7.21
    org.slf4j:slf4j-api ................................. 1.7.18 -> 1.7.21
    org.slf4j:slf4j-log4j12 ............................. 1.7.18 -> 1.7.21
    org.slf4j:slf4j-simple .............................. 1.7.18 -> 1.7.21
    org.springframework:sprin

[2016-05-17 07:25] #139 closed

[2016-05-17 08:08] marcelmay opened #141 "Build: Handle long running tests"
When using Maven to build GreenMail, split long running tests from fast unit test for faster development feedback without forgoing the long running tests.

- Configure Maven failsafe plugin, allows skipping using '-DskipITs'
- Rename long running tests with postfix **IT** instead of **Test** to distinguish from fast unit tests
- Long running tests : ConcurrentCloseTest, ,maybe MultiRequestTest wit

[2016-05-17 08:09] #141 closed

[2016-05-18 22:50] EarthCitizen commented on #127
The lack of authentication for SMTP is creating a huge problem for me. In my unit tests I am using:
[code]

I have tried doing this in the tests:

`mailRule.managers.userManager.setAuthRequired(true)`

but it is still not verifying the password. I need the password to be verified because the production code will be connecting to an authenticated SMTPS server. So, GreenMail authenticating my passwo

[2016-05-19 01:00] buildscientist commented on #127
@EarthCitizen Until this issue is resolved authentication against SMTP services is currently not required.

The setAuthRequired() call on UserManager only applies to IMAP and POP3.

[2016-05-19 01:05] buildscientist commented on #127
Additionally I'm not really sure how your test suite would benefit from having assertion on a password.

Yes I agree that not having SMTP authentication is an issue but you can write your test such that it is implied that authentication always passes. I encourage you to review your test case/method and ask yourself this question:

What am I testing? Authentication or a valid socket/connection to m

[2016-05-19 01:18] EarthCitizen commented on #127
The test is actually that the correct password is send to the server. Which SMTP authentication would have verified.

[2016-05-19 01:19] buildscientist commented on #127
@EarthCitizen

Ok so there seems to be some confusion here - when you open a connection to the GreenMail SMTP server it's still going to authenticate - but it will accept *any* password. Hence my comment about asserting on a valid/connected Transport session instead of a password.

[2016-05-19 01:38] buildscientist commented on #127
@EarthCitizen
It looks like I was mistaken - the GreenMail SMTP service does *not* support the AUTH command as shown here in the [SMTPCommandRegistry](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/main/java/com/icegreen/greenmail/smtp/commands/SmtpCommandRegistry.java) class

We'll need to implement AUTH command.

@marcelmay is this something we'd grab from Apache

[2016-06-03 11:33] anton-johansson opened #142 "message/rfc822"
I'm having some troubles with a part in an e-mail that is of type message/rfc822. I'm getting an NPE. I assume it is because this section isn't implemented:
https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/main/java/com/icegreen/greenmail/store/SimpleMessageAttributes.java#L249

Any plans on implementing it?

[2016-06-04 10:14] marcelmay commented on #142
@anton-johansson, do you have a test case?

[2016-06-04 11:15] marcelmay commented on #132
Closing, request pulled and long running test moved to integration tests (#141)

[2016-06-04 11:15] #132 closed

[2016-06-04 11:22] marcelmay opened #143 "Support logging IMAP protocol on server side (for debugging)"
When logging on DEBUG level, I want to see the IMAP protocol line processed by GreenMail server so that I can analyse the protocol and attach the line to issues.

[2016-06-04 11:27] #143 closed

[2016-06-04 22:41] #126 closed

[2016-06-05 22:33] #134 closed

[2016-06-06 15:40] SkittishSloth opened #145 "Support UIDPLUS extension : UID EXPUNGE, APPENDUID, COPYUID"
I've been using greenmail for testing, and it's performed wonderfully in every use case I've thrown at it until the other day. We're using UID EXPUNGE against our IMAP server, and in creating unit tests for that it seems that greenmail doesn't support it.

Is there some way to mock this out, at least so I don't get a BadCommandException? Would it be difficult to implement on the greenmail side of

[2016-06-06 17:09] marcelmay commented on #145
Hi @SkittishSloth , can you provide a simple test case?

[2016-06-06 17:22] SkittishSloth commented on #145
Sure - and btw, it looks like it's part of the UIDPLUS RFC (4315, https://tools.ietf.org/html/rfc4315). I don't recall if I've tried anything else in that RFC, and I have no clue if you would want to do anything with the rest of it anyways, but it's worth a look at least.

This is an extremely simple/contrived case, but it's pretty close to what I'm trying to do. IMAPFolder instances are (in my ex

[2016-06-06 20:56] marcelmay commented on #145
Thx alot, already got UID EXPUNGE working but have not pushed it yet.

Before pushing I'll have to check the rest of the UIDPLUS spec, as I had to add UIDPLUS to the capabilities. UIDPLUS not only extends EXPUNGE but also extends COPY and APPEND response codes.

[2016-06-07 09:17] anton-johansson commented on #142
I will try and provide a test case later today, if I find the time. :)

[2016-06-07 22:20] marcelmay commented on #145
Final missing part, coming soon : COPYUID

[2016-06-12 20:03] marcelmay commented on #145
#114 already implemented COPYUID, so GreenMail now fully supports UIDPLUS.

@SkittishSloth , we plan a 1.5.1 release by the end of the month and just deployed latest version as [1.5.1-SNAPSHOT](https://oss.sonatype.org/content/repositories/snapshots/com/icegreen/). If you notice any bugs in the SNAPSHOT, please reopen this issue.

[2016-06-12 20:03] #145 closed

[2016-06-14 18:10] SkittishSloth commented on #145
That's great - thanks!

[2016-06-21 20:54] andreaturli opened #146 "Problem with body assertions"
Hi, first of all thanks for the project!

I'm trying to test simple-java-email using greenmail but when I try to assert the body using
[code]
I get something like
[code]

I'd appreciate any hints! thanks

[2016-06-21 21:15] camann9 commented on #146
Hey, could you provide a unit test (maven project in the best case)?

On Tue, Jun 21, 2016, 1:54 PM Andrea Turli <notifications@github.com> wrote:

[2016-06-21 21:23] andreaturli commented on #146
sure
[code]

[2016-06-21 22:08] camann9 commented on #146
The problem is that the Mailer class is not creating a text only email, it
is creating a MIME email with multiple parts (the textual representation of
which you can see in the output you included in the original bug). You
can't use string equals to compare the MIME message to the text that should
be inside. You have to use the Java MIME API to extract the body.
GreenMailUtil.getBody only works for

[2016-06-22 13:51] andreaturli commented on #146
Thanks @camann9

[2016-06-22 13:51] #146 closed

[2016-06-27 05:45] buildscientist commented on #142
Hi @anton-johansson do you have any updates on providing a test case? Thanks.

[2016-06-27 08:17] marcelmay commented on #142
I got a test case now, an look into this.

[2016-06-28 21:56] marcelmay opened #147 "Autoconfigure mail.store.protocol for GreenMail created sessions"
GreenMail already provides auto configured sessions when testing.
The session should also configure the property for JavaMail Store type.

Example setting *mail.store.protocol* to *imap*:

    IMAPStore store = (IMAPStore) greenMail.getImap().createSession().getStore()

[2016-06-28 21:58] #147 closed

[2016-07-01 05:32] anidotnet opened #148 "JDK 1.6 Support"
It looks like greenmail-core downloaded from maven central is not compatible with jdk6. While building my project on jdk6 who has dependency on greenmail 1.5, I am getting below error:

Is there any reason not to support jdk6?

[2016-07-01 05:39] marcelmay commented on #148
GreenMail 1.5+ requires JDK7. For JDK6 you could use previous version 1.4.

Have a look at the description in the [download section](http://www.icegreen.com/greenmail/#download), which describes the system requirements.

The reason is that Oracle ended its support phase for JDK 1.6 quite a while ago, even for JDK 7 - and that we wanted to use some of the JDK 7 features.

[2016-07-01 05:39] #148 closed

[2016-07-06 05:54] palimpsestor opened #149 "escaping of SMTP folded subject lines introduces unexpected characters"
According to the SMTP spec, long subject lines can be "folded", introducing carriage return and linefeed characters which are escaped improperly when retrieved via IMAP.

[2016-07-06 08:04] buildscientist commented on #149
@marcelmay I'll leave this up to you since you assigned yourself #150 but it seems like we should actually have code in SimpleMessageAttributes.java that handles a folded subject line.

It looks like JavaMail doesn't actually handle unfolding those types of subject lines and leaves it up to the application developer to handle - that is according to the Javadocs in [MimeMessage](https://javamail.ja

[2016-07-06 08:10] buildscientist commented on #149
@marcelmay Actually looks like there's a built-in Javax class [MimeUtility](http://docs.oracle.com/javaee/7/api/javax/mail/internet/MimeUtility.html) which will handle unfolding the subject for you via a call to the unfold() method.

I think we should use this.

[2016-07-06 12:25] jheilgeist opened #151 "GreenMailUtil#getHeaders produces StringIndexOutOfBoundsException for empty MIME parts"
One of my test messages has an empty MIME part:

[code]

When retrieving the headers of this MIME part, GreenMail fails with a `StringIndexOutOfBoundsException` in `GreenMailUtil#getHeaders(Part)`. The reason is, that `GreenMailUtil#getWholeMessage(Part)` returns the **trimmed** part content and `GreenMailUtil#getHeaders(Part)` doesn't consider the fact, that `all.indexOf("\r\n\r\n")` may return a

[2016-07-06 12:32] camann9 commented on #151
Could you send us a pull request with the fix and a unit test?

On Wed, Jul 6, 2016, 2:25 PM Janko Heilgeist <notifications@github.com>
wrote:

[2016-07-06 12:39] buildscientist commented on #151
Or even just the unit test would be fine. Either submit the test as part of a PR or inline in this issue. Thanks.

[2016-07-06 22:01] marcelmay commented on #149
@buildscientist : +1 for MimeUtility, good idea.

@palimpsestor, @buildscientist  : I'll add further comments in your pull request.

[2016-07-08 18:59] #149 closed

[2016-07-09 08:35] #151 closed

[2016-07-09 08:39] marcelmay commented on #151
@jheilgeist : Please reopen if still not fixed. Test is [GreenMailUtilTest.testGetEmptyBodyAndHeader()](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/test/java/com/icegreen/greenmail/test/GreenMailUtilTest.java#LC46)

[2016-07-09 08:41] #140 closed

[2016-07-09 19:39] palimpsestor opened #152 "Misspelling in public GreenMailOperations interface"
This should be a quick one:  the GreenMailOperations interface has a "getReceviedMessagesForDomain" method.

This should be deprecated in favor of a correctly spelled "getReceivedMessagesForDomain"

[2016-07-09 23:51] #152 closed

[2016-07-12 19:51] marcelmay opened #154 "Build : Tag docker images with label 'latest' when releasing"
Add option to automatically append the tag 'latest' when building the docker image so that when doing a release it is possible to choose to append the 'latest' tag additionally to the version tag.

[2016-07-12 19:55] #154 closed

[2016-07-13 11:02] anidotnet opened #155 "Support IMAP subject search / JavaMail SubjectTerm"
I have stored 3 messages in INBOX with subjects - "Test Message 1", "Test Message 2" and "Test Message 3"

And I am using this subject search via javamail 1.5.5 on inbox folder

[code]

and I am getting all 3 messages instead of only 1 (Test Message 1). Am I doing something wrong or is there any bug involved? I could not find any subject based search junit test in green mail also.

Here is the ses

[2016-07-13 11:14] anidotnet commented on #155
Further reading through code [SearchKey.java](https://github.com/greenmail-mail-test/greenmail/blob/52fa950f6786ed48c4c2430515b059862344202a/greenmail-core/src/main/java/com/icegreen/greenmail/imap/commands/SearchKey.java#L41) and [SearchCommandParser.java](https://github.com/greenmail-mail-test/greenmail/blob/52fa950f6786ed48c4c2430515b059862344202a/greenmail-core/src/main/java/com/icegreen/green

[2016-07-13 22:26] marcelmay commented on #155
Yes, SubjectTerm is not yet supported.
Issue #20 tracks the overall missing search features.

[2016-07-13 22:28] marcelmay commented on #155
@anidotnet , I'll rename the issue as a new feature.

[2016-07-13 22:30] #155 closed

[2016-07-14 00:03] anidotnet commented on #155
@marcelmay Wow! Thanks.. That was quick..

[2016-08-05 15:37] matthewdfleming opened #156 "Expose Server Startup Timeout to GreenMailBean"
Server startup timeout is now configurable within the core product but this configuration parameter has not been exposed to the Spring wrapper for GreenMail.

[2016-08-05 19:02] marcelmay opened #158 "Extend greenmail-spring to handle all greenmail-core configurations"
greenmail-spring handles only a small subset of configuration options of greenmail-core.

Extend greenmail-spring to handle all current greenmail-core configuration options, eg by providing a generic properties approach if not directly exposed as Spring bean property.

Related issues include #156

[2016-08-05 19:03] marcelmay commented on #156
Thanks for the patch including tests!

[2016-08-05 19:04] #156 closed

[2016-08-21 19:01] vguna commented on #37
Using 1.5.1 here facing the problem described here (encodings):

https://github.com/greenmail-mail-test/greenmail/issues/32

Body contains german umlauts. Using `GreenMailUtil.getBody(mimeMessage)` shows raw encodings like
`Bitte best=C3=A4tigen Sie die Registrierung durch einen Klick auf u.a. Link=.`

Currently working around using Spring's `MimeMessageHelper` like that:

[code]

Returns `Bitte b

[2016-08-21 19:37] marcelmay commented on #37
@vguna , why not use plain JavaMail for getting the content:

    mimeMessage.getContent()

MimeMessageHelper#getMimeMessage() directly returns the wrapped mime message,
so you could leave out the MMH wrapper.

I'll look into GMU.getBody, looks like it is returning the raw mail content.

You can check out the [test case for umlauts](https://github.com/greenmail-mail-test/greenmail/blob/master/gree

[2016-08-23 05:33] vinaysshenoy commented on #135
@buildscientist Is this being actively worked on? I need this feature to test a mail client I'm writing.

If not, I can do it myself and submit a PR when I get some time(probably in the next couple of weeks).

[2016-08-23 16:15] vinaysshenoy commented on #135
I've added tentative support for STARTTLS for SMTP in my fork. You can check out the diffs [HERE](https://github.com/greenmail-mail-test/greenmail/compare/master...vinaysshenoy:feature/starttls). This was implemented based on [RFC3207](https://tools.ietf.org/html/rfc3207).

If this looks ok, I can go ahead with implementing it for IMAP and POP3 in a similar fashion.

I am also planning to add [Apa

[2016-08-23 20:13] vguna commented on #37
Yeah, you're right :). Interesting why the encoding isn't working for me using GMU. I'll have to recheck...

[2016-08-25 20:06] marcelmay commented on #142
@anton-johansson : I just updated [Maven snapshots](https://oss.sonatype.org/content/repositories/snapshots/com/icegreen/greenmail/1.5.2-SNAPSHOT), maybe you can give it a try. The test case [Rfc822MessageTest](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/test/java/com/icegreen/greenmail/test/specificmessages/Rfc822MessageTest.java) works, please reopen if you st

[2016-08-25 20:06] #142 closed

[2016-08-25 20:14] marcelmay opened #159 "Update the patch versions of the dependencies"
* com.sun.mail:javax.mail ............................... 1.5.5 -> 1.5.6
   See https://javamail.java.net/docs/CHANGES.txt for details.

[2016-09-09 18:42] swongu commented on #135
Would be great to see this integrated... looking for the same feature.

[2016-09-09 18:53] buildscientist commented on #135
@vinaysshenoy I'm not actively working on this enhancement. Recommend that you submit a PR (please make sure appropriate tests are included).

Thanks.

[2016-09-22 20:25] #159 closed

[2016-09-23 09:22] gionn opened #162 "getReceivedMessages ordering"
Hi,

when calling getReceivedMessages, we obtain an array that looks like is unordered, while an ordering based on the received date would be great.

Can someone confirm the actually such API doesn't return email messagge in any particular order?

Thanks.

[2016-09-23 12:47] camann9 commented on #162
In the code (HierarchicalFolder.appendMessage) it looks like messages within one mailbox should be stored by GreenMail in the order in which they were received (and returned in that order looking at other places in the code). But this is not guaranteed and you should explicitly sort them if you needsorted data.

[2016-09-23 12:47] #162 closed

[2016-09-27 10:20] tobiasrodehutskors opened #163 "[question] How to put Greenmail's self-signed certificate into the Java Keystore"
Hi!

I am currently trying to integrate Greenmail into an OSGi based environment. I primarily focus on using Greenmail as a dummy SMTPS server. Since Greenmail uses self-signed certificates to establish an SSL/TLS connection, you are normaly required to set the ssl.SocketFactory.provider to the DummySSLSocketFactory before trying to connect to the Greenmail server:

[code]

Unfortunatly, this is n

[2016-09-27 18:59] marcelmay commented on #163
Tobias,

GreenMail directly uses DummySSLServerSocketFactory to create a socket.
Check [AbstractServer.openServerSocket](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/main/java/com/icegreen/greenmail/server/AbstractServer.java#L63).

What happens if you start GreenMail configured for SMTPS as an OSGI service, can you provide the stack trace?

[2016-09-27 19:30] buildscientist commented on #163
@marcelmay I think what @tobiasrodehutskors is looking for is related to #130

I still need to push my code up - but I haven't finished wiring this up to our Configuration.

So once this is done - in theory you wouldn't have to grab the JKS from GreenMail - you can use your own.

[2016-09-28 08:02] tobiasrodehutskors commented on #163
@marcelmay The problem is not in the server part of greenmail, but in my test cases for my client code. I cannot set the ssl.SocketFactory.provider property, since the DummySSLSocketFactory will then be loaded via reflections which does not work in the OSGi setup. (If you are interested to know more, try googling OSGi + class.forname )

@buildscientist You are right, this looks indead promising. B

[2016-09-29 19:29] marcelmay commented on #163
Tobias,

if you want to import the keystore ... just export it by writing the bytes of DummySSLServerSocketFactory.HARD_CODED_KEY_STORE into a file?

Or package a greenmail.jks with your key along the GreenMail server?

[2016-10-21 04:21] mohitdguptattn opened #164 "Need of Web UI for Greenmail to retrieve sent emails"
Hi,

I am currently working on Greenmail to send and retrieve emails for different environments of my application. I have set up the Greenmail server using docker container and it is correctly working. I am also able to send mails using SMTP to different email addresses. I have explored out but didnt find any good Web UI to check my emails. I have also tried integrating Roundcube with Greenmail bu

[2016-10-21 06:02] marcelmay commented on #164
Hi @mohitdguptattn ,

- which GreenMail version do you use
- can you provide a more detailed error message from GreenMail log, as to which specific IMAP search fails

Currently there is no Web UI, and personally I use Thunderbird or Mail.app clients.
PHP based WebUIs like SquirrelMail ( #2 ) have some issues due to not all imap search fully implemented yet ( #20 ).

FYI, there is a [GreenMail Dock

[2016-10-21 06:09] mohitdguptattn commented on #164
Hi @marcelmay

We are using greenmail 1.5.2. For retrieving the emails we are trying the JBOSS JMX console as suggested in the document at www.icegreen.com/greenmail .

However we are facing the following logs:

No enum constant com.icegreen.greenmail.imap.commands.SearchKey.1
	at java.lang.Enum.valueOf(Enum.java:236)
	at com.icegreen.greenmail.imap.commands.SearchKey.valueOf(SearchKey.java:67)
	a

[2016-10-24 05:40] marcelmay commented on #164
Can you get the debug output from GreenMail?

There will be the exact IMAP search command included, so we can see which search was executed. Otherwise, I'll setup roundcube and try to reproduce the issue.

[2016-10-31 12:51] msaladin opened #165 "Allow Greenmail to be configured as mail sink"
In our company we have a lot of projects which currently use James as a test-mail-server for their test- and integration environments. Those projects want to:
- make sure that mails are not forwarded to the real recipient
- but they still want to be able to browse the emails which were sent by the SUT

To do this, they have configured an email client which connects to James and uses IMAP to retrie

[2016-10-31 12:55] msaladin opened #166 "Allow Greenmail to have persistent storage"
Greenmail is very fast and this is cool for embedding it into automated tests. Sometimes, we just want to have a mail server which is started on a server, and the SUT is sending all the mails to this mail server. Currently, when the mail server is Greenmail, after a restart, all the messages would be lost because Greenmail implements only a InMemoryStore.

Is it possible to make the InMemoryStore

[2016-10-31 13:03] camann9 commented on #166
@marcelmay What do you think?
I think there is little to be said against this. We'd just have to think about how we configure this

[2016-10-31 13:03] camann9 commented on #165
@marcelmay What do you think?
I think there is little to be said against this. We'd just have to think about how we configure this

[2016-10-31 15:51] buildscientist commented on #166
@msaladin how are you planning on storing the data? Are you going to serialize the emails? That might be a bit problematic if you're expecting to send in a lot of emails with attachments.

I think a better option would be to have a flag to write out the raw email with a base64 encoded attachment out to disk - so each email would be written to an individual file.

[2016-10-31 15:54] buildscientist commented on #165
It seems like we already have this feature in place - meaning do you really the need the email to be "forwarded" on to another recipient or are you just looking for the mail-sink functionality?

We already have a mailsink in the form of of our InMemoryStore. So you could start up a GreenMail SMTP service - have the email relayed and then access it via the InMemoryStore.

It's not the most convenie

[2016-10-31 16:14] msaladin commented on #166
@buildscientist: I did not yet think about the implementation details too much. But my impression is that to create a file for each mail is not really good, because some OS have difficulties with directories which contain thousands of files. But I agree that handling all the mails including attachment data in a single file has disadvantages as well. So an idea which needs more elaboration would be

[2016-10-31 16:20] msaladin commented on #165
@buildscientist: In our use-case from above, the access to the mailsink is done using an IMAP client, e.g. by a human person using a mail client. For example:

- Maybe by a manual tester wants to check whether the manual tests he has done on the SUT generate the correct emails with correct substitutions.

- Or the real customer wants to click around in the integration environment and then look at

[2016-10-31 17:34] buildscientist commented on #166
@msaladin I understand that thousands of files might be an issue for some older filesystems - but most modern filesystems have pretty much overcome that issue.

Mail.app on OS X/macOS actually implements storage of emails as such. I would think the divide and conquer approach would be much more optimal than stuffing your data into a single file.

The other alternative is to store the data as a ser

[2016-10-31 17:39] buildscientist commented on #165
@msaladin - makes sense but it sounds like you're now using GreenMail as a workflow engine. It wasn't really designed as such.

I think the idea of having a GreenMail config that allows users to forward email to other users is a valid feature though.

[2016-10-31 17:55] camann9 commented on #166
I agree. Unless we anticipate having thousands of files on there I think we
should go with the single file approach.

On Mon, Oct 31, 2016, 18:34 Youssuf ElKalay <notifications@github.com>
wrote:

[2016-10-31 17:57] camann9 commented on #165
I think it's still a reasonable thing to do, even if it wasn't designed as
such.
So I'd be good with the forwarding feature as long as it has sufficient
test coverage.

On Mon, Oct 31, 2016, 18:39 Youssuf ElKalay <notifications@github.com>
wrote:

[2016-11-01 00:38] marcelmay commented on #165
@msaladin, I still have some questions.

* Would you only have one property of the receiving mail account for configuration?
e.g. property _greenmail.mailsink.user=foo:pwd@bar.com_ _ similiar to _greenmail.users_ configuration?

* Would this user receive a copy, or would you actually move the messages?
   A copy is less disruptive in GreenMails behaviour. So you actually would have some kind of au

[2016-11-01 12:52] msaladin commented on #165
Good idea, I did a first implementation, see here:
https://github.com/greenmail-mail-test/greenmail/pull/167

There were changes to more files than I had imagined in the first view.

Mainly because now some of the "managers" needed the configuration, and for this, it was necessary to make a clear distinction between an instance of GreenMail which is not yet started and which is started. The idea i

[2016-11-03 07:54] msaladin commented on #166
There is even a standard for this single-file-approach:
https://tools.ietf.org/html/rfc4155

[2016-11-03 17:20] buildscientist commented on #166
@camann9 Well that's kind of the point isn't it - how can you anticipate "not" having thousands of files.

I do recall @marcelmay mentioning that Alfresco uses GreenMail across their entire test suite and generates more than thousands of emails.

@msaladin I don't have a problem with the mbox format - all I'm saying is that from a testability standpoint it's much easier to have the emails stored i

[2016-11-09 12:32] keirlawson opened #168 "waitForIncomingEmail and CC/BCC"
I'm trying to write a test to check that 100 emails will be sent, however the software under test test to send the emails using the BCC field, so it might send 10 mails with 10 addresses BCCed each.  The exact manner in which the emails are batched I don't care about and so don't want to write into my test, I just want to check that I get all 100 emails sent at the end of the day. Calling `getRece

[2016-11-15 21:39] marcelmay commented on #168
@keirlawson , I'll look into this.

[2016-11-20 07:11] marcelmay commented on #168
@keirlawson : Which greenmail version do you use, was your timeout sufficient when waiting?

I tried to create a test case sending one mail with two BCCs which runs ok:
[code]

[2016-11-22 13:37] msaladin commented on #166
OK, I seem to have messed up with my pull-requests, i wanted to create two individual pull requests, one for issue 165 and one for issue 166, but it seems that my subsequent commits were automatically pushed to the initiated pull requests. Sorry for this.

Anyhow, the pull request is now ready for you guys to evaluate it... it was actually a lot of changes, but I tried to do it as defensibly as po

[2016-11-26 18:21] camann9 commented on #166
Marcel, Yousuf, do you want to have a look out should I?

On Tue, Nov 22, 2016, 05:37 msaladin <notifications@github.com> wrote:

[2016-11-26 19:09] buildscientist commented on #166
@camann9 I can have a look at this. I think the more code reviews we do the better.

[2016-11-28 06:18] marcelmay opened #169 "Switch docker base image from java:jdk7 to openjdk:7-jdk-alpine"
The alpine flavour is optimized for size

[2016-11-28 06:23] #169 closed

[2016-11-29 15:49] marcelmay commented on #168
@keirlawson,  would the test above reproduce your issue?
Do you still experience this issue with latest version 1.5.2?

[2016-12-08 03:29] buildscientist commented on #168
@keirlawson Any updates on this? I wasn't able to find waitForEmailsRecieved() in the existing codebase - can you tell us what version of GreenMail you're using?

The example that @marcelmay provided in SmtpServerTest.testSendAndWaitForIncomingMailsInBcc should work for your use case.

[2016-12-08 04:24] buildscientist commented on #163
Closing as this will be resolved by #130

[2016-12-08 04:24] #163 closed

[2016-12-08 23:08] keirlawson commented on #168
Apologies for my slowness to respond, I am using version 1.4.1 as the project in question is Java 6. Unfortunately I haven't had time yet to replicate on a newer version, will try to do that as soon as possible and update the issue

[2016-12-09 16:35] buildscientist commented on #168
@keirlawson No worries just wanted to follow up with you. GreenMail 1.5.x requires Java 7 or above.

[2016-12-13 18:35] ecrisostomo opened #170 "Support UTF-8 non ascii characters on email address (based on rfc6531)"
Greenmail server will return a `com.sun.mail.smtp.SMTPAddressFailedException: 501 Malformed email address.` when attempting to send an email with UTF-8 non ascii characters.

This happens when sending, for example, an email to an address like this: 用户@例子.广告

I see an initial change that needs to happen and that is when constructing the `com.icegreen.greenmail.mail.MailAddress` object, where the `I

[2016-12-13 18:38] camann9 commented on #170
Feel free to send a pull request with some reasoning on what validation is
still present and what parts of the valuation have been relaxed.

On Tue, Dec 13, 2016, 10:35 ecrisostomo <notifications@github.com> wrote:

[2016-12-13 18:42] ecrisostomo commented on #170
Yeah, planning to work on that!

[2016-12-16 14:51] keirlawson commented on #168
Ok so @marcelmay's suggested test does pass when I run it in my current project (Java 6/Greenmail 1.4.1), which suggests to me that the issue is something to do with the way the emails are being created by our system (we are using Apache Commons Email)

[2016-12-16 15:04] keirlawson commented on #168
So this fails for me on the above setup (using Commons email 1.4):

[code]

[2016-12-18 22:32] marcelmay commented on #168
@keirlawson:

It seems Apache Commons Email has an unfortunate and error prone API:

[Email.addBcc(String email, String name)](https://commons.apache.org/proper/commons-email/javadocs/api-release/org/apache/commons/mail/Email.html#addBcc(java.lang.String,%20java.lang.String))
and
[Email.addBcc(String ... emails)](https://commons.apache.org/proper/commons-email/javadocs/api-release/org/apache/commo

[2016-12-18 22:32] #168 closed

[2017-01-02 15:19] granby opened #172 "IMAP fails to fetch message when content type is text/html"
This code fails when content type is text/html in imap/commands/FetchCommand.java (handleBodyFetch):

`if (contentType.toLowerCase().startsWith("text/plain") && "1".equals(sectionSpecifier)) {
                handleBodyFetchForText(mimeMessage, partial, response);
 } else {
                MimeMultipart mp = (MimeMultipart) mimeMessage.getContent();
                BodyPart part = null;`

Content

[2017-01-02 15:47] marcelmay commented on #172
@granby  : do you have a test for us? Otherwise, I'll try to reproduce it with my own test.

[2017-01-02 15:50] marcelmay opened #173 "Use script as entrypoint for GreenMail standalone docker image"
It is easier to modify the docker image for custom startup options upon extension.

[2017-01-02 15:53] granby commented on #172
No, sorry. If you have any problem reproducing it I'll gladly help.

[2017-01-02 15:55] granby commented on #172
This thread could be helpful: http://stackoverflow.com/questions/13331989/how-to-handle-multipart-alternative-mail-with-javamail

[2017-01-02 16:11] #173 closed

[2017-01-03 08:35] marcelmay commented on #172
Multipart/alternative with a text/plain and text/html part works.

But sending a forwarded multipart/alternative fails:
[code]

So I have a test case now for reproducing the issue.

[2017-01-03 12:10] gusran commented on #172
Ok! Just to avoid misunderstanding; this is an email that the client (Rainloop) could not fetch via IMAP (class cast exception in Greenmail - String cannot be cast to Multipart):

Return-Path: <donotReply@somedomain.com>
Received: from 10.55.101.48 (HELO somehost.net); Mon Jan 02 16:10:15 CET 2017
Date: Mon, 2 Jan 2017 16:10:15 +0100 (CET)
From: donotReply@somedomain.com
To: receiver@somedomain.co

[2017-01-03 12:21] marcelmay commented on #172
@gusran, @granby : Can you forward me the problematic email, as an attachment?

You are using latest GreenMail 1.5.2?

[2017-01-03 12:54] gusran commented on #172
Yes

[2017-01-03 13:03] gusran commented on #172
[problematic.txt](https://github.com/greenmail-mail-test/greenmail/files/682251/problematic.txt)

I played around with your test code a little, and I failed to reproduce it since sectionSpecifier gets set to TEXT, but when rainloop fetches it is appearantly set to 1.

And yes, I use 1.5.2.

[2017-01-03 13:48] gusran commented on #164
We were able to set-up Rainloop togheter with GrenMail, and besides the [issue](https://github.com/greenmail-mail-test/greenmail/issues/172) with text/html it works well (we made a quick fix for that problem in GreenMail).

[2017-01-03 14:07] gusran commented on #172
Here are the logs from GreenMail and Rainloop:

[greenmail.txt](https://github.com/greenmail-mail-test/greenmail/files/682346/greenmail.txt)
[rainloop.txt](https://github.com/greenmail-mail-test/greenmail/files/682347/rainloop.txt)

This is my quick fix (imap.commands.FetchCommand/handleBodyFetch):

`Object content = mimeMessage.getContent();
            if (content instanceof String && "1".equals

[2017-01-03 19:20] #170 closed

[2017-01-03 20:44] rjfioravanti opened #174 "Support searching by message sequence"
I am interested in the commands:
UID SEARCH 1:100
SEARCH 1:100

From https://tools.ietf.org/html/rfc3501#section-6.4.4, "sequence set" is a possible search key, that seems was not accounted for in https://github.com/greenmail-mail-test/greenmail/issues/103 or https://github.com/greenmail-mail-test/greenmail/issues/20

      <sequence set>
         Messages with message sequence numbers correspondi

[2017-01-03 20:51] rjfioravanti commented on #174
This is the logs leading up to the error, and the resulting stacktrace

Jan 03, 2017 12:23:28 PM com.icegreen.greenmail.imap.commands.SearchCommandParser searchTerm
WARNING: Ignoring not yet implemented search command '1:1'
java.lang.IllegalArgumentException: No enum constant com.icegreen.greenmail.imap.commands.SearchKey.1:1
        at java.lang.Enum.valueOf(Enum.java:238)
        at com.icegreen

[2017-01-04 19:58] marcelmay opened #175 "Support verbose mode for GreenMail and standalone runner"
Support a verbose mode for getting better debug output.

Verbose mode sets JavaMail debug property, therefore tracing communication on protocol level.
Enable configuring runner with _greenmail.verbose_ flag for activating verbose mode by command line.

[2017-01-04 20:22] #175 closed

[2017-01-05 17:08] bluedoo opened #176 "performance issue"
Using `@Test(timeout=1000)` the max I can make `x` is `200`. In other words, I can only send a maximum of 200 emails per second. I think it should be closer to 4000 emails per second without async threading in order to be competitive

[code]

[2017-01-05 18:16] camann9 commented on #176
Feel free to profile greenmail and find out what is taking time. Are you
sure it's not Javamail on the client side? What happens if you use multiple
threads on the client side?

On Thu, Jan 5, 2017, 09:08 bluedoo <notifications@github.com> wrote:

[2017-01-05 18:29] buildscientist commented on #176
@bluedoo Can you clarify what you mean by "competitive"?  GreenMail is a testing tool - it isn't meant to be used as a production SMTP/IMAP/POP3 service.

@camann9 Probably want to be careful about using multiple threads to handle Transport based connections - see [Thread safety in JavaMail](http://stackoverflow.com/questions/12732584/threadsafety-in-javamail#answer-12733317) for more details

[2017-01-05 18:46] camann9 commented on #176
As Youssuf said, greenmail is not a production system and we haven't
traditionally cared much about performance (as long as it's able to receive
a few mails per second). That being said, if you find simple fixes to make
it faster, feel free to send a pull request.
On the subject of thread safety: that should be fine as long as multiple
connections (transports) are used.

On Thu, Jan 5, 2017, 10:29

[2017-01-05 22:40] marcelmay commented on #174
@rjfioravanti , I just implemented the search and uploaded a new [1.6.0-SNAPSHOT](https://oss.sonatype.org/content/repositories/snapshots/com/icegreen/).

[2017-01-05 22:40] #174 closed

[2017-01-08 00:48] marcelmay opened #177 "Enhance service greeting with GreenMail project version"
Show project version when
- starting standalone runner
- doing protocol handshake greetings

so that version can be easily supplied when opening an issue with logs attached.

Example protocol handshake greeting, with added version 1.6.0-SNAPSHOT:
`* OK IMAP4rev1 Server GreenMail v1.6.0-SNAPSHOT ready`

[2017-01-08 01:04] #177 closed

[2017-01-08 18:16] marcelmay opened #178 "Forwarding an attached message RFC822 message causes NPE"
When forwarding a multipart/alternative message GreenMail throws a NPE as no SENT DATE exists.

1687597 DEBUG map.ImapRequestLineReader| IMAP Line received : <TAG4 APPEND "Sent" (\Seen) {1659}\r\n\r\n>
1687599 ERROR e.SimpleMessageAttributes| message type : multipart/alternative;
 boundary="--=_RainLoop_162_327671855.1483897476"
1687601 DEBUG e.SimpleMessageAttributes| Can not recurse through mult

[2017-01-08 18:17] marcelmay commented on #178
Relates to #142

[2017-01-08 18:45] #178 closed

[2017-01-08 18:48] marcelmay commented on #172
Just fixed #178, where GreenMail received a NPE when receiving a forwarded message.

[2017-01-08 19:47] marcelmay commented on #172
Thanks alot, issue should be fixed now.

Just uploaded a new [1.6.0-SNAPSHOT](https://oss.sonatype.org/content/repositories/snapshots/com/icegreen) and pushed [greenmail/standalone:1.6.0-SNAPSHOT](https://hub.docker.com/r/greenmail/standalone/tags/) docker image.

I tested GreenMail with this [Rainloop docker image](https://hub.docker.com/r/solidnerd/rainloop/).

[2017-01-08 19:47] #172 closed

[2017-01-08 20:01] marcelmay commented on #164
@mohitdguptattn :  #174 fixed this search issue.

I tested Rainloop / 1.10.5.192 with latest GreenMail [1.6.0-SNAPSHOT](https://oss.sonatype.org/content/repositories/snapshots/com/icegreen).

[2017-01-08 20:01] #164 closed

[2017-01-09 09:13] gusran commented on #172
Thank you! I tested with your published snapshot and it seems to work fine!

[2017-01-09 21:35] marcelmay opened #179 "Support configuration options for GreenMail standalone Docker image"
Support setting JVM and GreenMail configuration options, so that you can run the Docker image with different settings.

- JAVA_OPTS , for passing/overriding JVM options such as heap settings
- GREENMAIL_OPTS, for passing/overriding GreenMail configuration options such as verbose setting (see #175)

[2017-01-09 21:53] #179 closed

[2017-01-10 10:36] #165 closed

[2017-01-10 13:52] tmeedend opened #180 "have a way to get all sent emails with the war deployment ?"
Hi,

I have deployed greenmail war on my tomcat. I am using it as a fake smtp server so that my other webapps can send emails without sending real ones to my customers.

Is there a way to see all the emails which have been sent without providing a user ? This way I could be sure which emails are sent without specifying any user. It would be very useful for functional tests.

Thank you very much fo

[2017-01-10 22:49] marcelmay opened #181 "Provide client test setup for Rainloop"
Provide a docker setup for easily testing GreenMail and [Rainloop](http://www.rainloop.net/) client for checking compatibility and finding bugs.

Also see #44 .

[2017-01-10 22:51] #181 closed

[2017-01-11 21:54] longtimeago opened #182 "Remote access to received emails"
Good day!
I love the lib as it is containerized :)
And I will love it even more if the following example could be covered in some way.
Consider components:
- Integration Test - IT  (host PC)
- Application Under Test - AUT (container A)
- Greenmail - GM (container B)

Trivial use case:
1) IT triggers email to AUT
2) AUT sent email to GM
3) IT checks GM for new emails and asserts them.

Is there any

[2017-01-11 21:56] camann9 commented on #182
You can use IMAP?

On Wed, Jan 11, 2017, 13:54 Paul Polishchuk <notifications@github.com>
wrote:

[2017-01-11 21:57] buildscientist commented on #182
@longtimeago Hi there - thanks for the props on GreenMail.

Unfortunately the RESTful API is still under development - see issue #108 for more details.

As @camann9 mentioned you can use the IMAP protocol.

[2017-01-11 22:00] buildscientist commented on #180
@tmeedend Hello - as of now no. A RESTful API which could potentially provide this information is in the works - see issue #108 for more details.

[2017-01-11 22:00] #180 closed

[2017-01-11 22:01] #176 closed

[2017-01-12 06:53] longtimeago commented on #182
@buildscientist Alright ... as I see, #108 is opened a year ago ... so, we should not expect the feature soon :)
Thus, thanks to @camann9 suggestion, will try to use IMAP

Have a nice day!

[2017-01-12 07:00] longtimeago commented on #108
@buildscientist let me put my 5 cents here :)
1) RESTful API is needed for java clients as client and mailserver could reside on different hosts.
2) RESTful API following HATEOAS - this is nice of course, but from my perspective, it would be cool to start with a simple one in api v1 :)
3) Swagger is nice for huge constantly evolving APIs ... here I see < 7 methods. Wouldn't it be an overkill?

I'm

[2017-01-12 07:57] #182 closed

[2017-01-15 16:32] marcelmay opened #183 "Provide client test setup for Roundcube client"
Provide a docker setup for easily testing GreenMail and Roundcube client for checking compatibility and finding bugs.

Also see #44 .

[2017-01-15 16:36] #183 closed

[2017-01-27 15:32] rjfioravanti opened #184 "support search by TEXT"
It seems that search commands are not really supported, maybe just the UID variant of search? Haven't tried the message-sequence version...

Example command I am interested in

UID SEARCH CHARSET US-ASCII TEXT "query"

According to RFC 3501, this is valid command syntax, and should search for messages matching the term "query" in header or body of the message.

When I try this currently, I get the

[2017-01-28 09:23] marcelmay commented on #184
@rjfioravanti , a good overview of currently implemented search is [SearchKey](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/main/java/com/icegreen/greenmail/imap/commands/SearchKey.java).

We extend GreenMail on demand - is there any other particular search you're interested in?

Relates to #20 .

[2017-02-01 14:36] rjfioravanti commented on #184
Sorry for the delay replying. I will also need support searching UTF-8 CHARSET, and possibly more granularity on what to search than just "TEXT". The search command also has this interesting quirk where under some circumstances we have to send a literal

e.g.
UID SEARCH CHARSET UTF-8 TEXT {5}

Then wait for server response, before we send the 5 bytes

[2017-02-01 15:49] tbelaire commented on #184
CHARSET is likely low priority, as it's possible to leave it out.

Would an implementation of TEXT along [these][1] lines look ok to you?

[2017-02-01 21:56] marcelmay commented on #184
@tbelaire : thx, I'll pull in your lines and add a test.

Adding CHARSET seems a bit more tricky:
UID SEARCH CHARSET UTF-8 TEXT {9}\r\nSome Text

[2017-02-01 22:05] marcelmay commented on #184
FYI, current work is in branch [issue/184-support-search-by-text](https://github.com/greenmail-mail-test/greenmail/tree/issue/184-support-search-by-text)

[2017-02-15 22:12] voeetech opened #187 "Greenmail IMAP sends back bad response to FETCH when requesting headers with partial specifier"
When fetching headers with partial specifier like this:
`TAG01 FETCH 1 (BODY[HEADER]<0.30>)`

The server responds
`* 1 FETCH (FLAGS (\Recent \Seen) BODY[HEADER]{4169}
... the full headers follow`

The server should respond with
`* 1 FETCH (FLAGS (\Recent \Seen) BODY[HEADER]<0> {30}
.... first 30 bytes should follow`

please note that the current response is not only not serving the requested lengt

[2017-02-20 23:15] marcelmay opened #188 "Simplify using verbose mode for ServerSetup configurations"
Example:
[code]

[2017-02-20 23:37] #187 closed

[2017-02-20 23:37] #188 closed

[2017-02-23 14:55] rjfioravanti opened #189 "Support SMTP AUTH command with PLAIN mechanism"
most SMTP clients will be written to authenticate a user over the connection.

The EHLO command should return the fact that AUTH extension is supported. Example EHLO from yahoo below
ehlo 127.0.0.1
250-smtp.mail.yahoo.com
250-PIPELINING
250-SIZE 41697280
250-8 BITMIME
250 AUTH PLAIN LOGIN XOAUTH2 XYMCOOKIE

To start, it would be reasonable to just return, the following, indicating that the host su

[2017-02-23 21:09] marcelmay commented on #189
Relates to #127

[2017-02-27 14:08] baubakg opened #190 "problems with parallel sending and retrieving"
Hi There,

I was unable to find an active DL for this so I post here.

I have created a set of methods for managing emails. I am using GreenMail to make sure my tests are ok. Befor emy tests I instantiate a local GreenMail server:

       private GreenMail mailServer;
       private GreenMailUser user;

       @BeforeClass
    public void setUp() {
      Security.setProperty("ssl.SocketFactory.pro

[2017-02-27 18:46] marcelmay commented on #190
If you send with user.deliver, you are responsible for synchronization.

If you send via SMTP: Can you post a test reproducing the behaviour?

Thx alot!

[2017-02-28 09:24] baubakg commented on #190
Thanks for your answer.

Could you kindly tell me how I can synchronize this?

In the meantime here, attached is a small project that shows this:
[GM_ParallelProblem.zip](https://github.com/greenmail-mail-test/greenmail/files/806232/GM_ParallelProblem.zip)

(sorry, I cannot post java files it seems)

[2017-02-28 15:43] baubakg commented on #190
Thanks for your answer. Could you kindly share how I can perform the synchronization?

PS I will attach a zip for this. The test is in testng that allows for

[2017-03-01 09:48] sanjeev-addagarla opened #192 "Quotes not allowed in from-Address"
Having quotes in from address causing below exception:
javax.mail.MessagingException: Failed to load IMAP envelope
at com.sun.mail.imap.IMAPMessage.loadEnvelope(IMAPMessage.java:1274)

We have applications that sets the from-address as below:
From Address:
"Company Administrator,VBE"<admin@company.com>
TO- Address:
 test@company.com

1) the email was sent successfully and can read emails through p

[2017-03-07 08:06] baubakg commented on #190
It seems I inadvertedly closed this issue :)

Could I have some info on how I can perform the synchronization please? (Between storing the message using user.deliver(MimeMessage) and being able to fetch it using javax.mail and standard imap protocols please?

I have added a code showing this in my comment above.

[2017-03-07 21:49] marcelmay commented on #190
You can synchronise eg on the GreenMail instance as a lock when sending via user.deliver(MimeMessage):
[code]

See the [Java Tutorial](https://docs.oracle.com/javase/tutorial/essential/concurrency/locksync.html) for sychronization details.

Another note: I think you can avoid checking if mail has arrived after user.deliver(...), as user.deliver(...) stores the mail directly...

[2017-03-07 21:49] #190 closed

[2017-03-10 12:04] sanjeev-addagarla opened #193 "Ignoring not yet implemented search command 'OR'"
Trying to read an email on imap server with the below code: (Search subject with either of two Strings)

Store store = emailSession.getStore("imap");

Folder emailFolder = store.getFolder("INBOX");
      emailFolder.open(Folder.READ_ONLY);
      SearchTerm st = new OrTerm(new SubjectTerm("Request+:+NID"),new SubjectTerm("Request : NID"));
      Message[] messages = emailFolder.search(st);
      Sy

[2017-03-11 08:38] marcelmay commented on #193
Relates to #20

[2017-03-11 12:54] sanjeev-addagarla commented on #193
Hi Marcel,

Can you suggest high-level changes for this enhancement, I will try to contribute OR fix it locally.

thanks

[2017-03-12 20:09] marcelmay commented on #193
Hi @sanjeev-addagarla,

I'd start with a test.

Interesting code is [SearchCommand](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/main/java/com/icegreen/greenmail/imap/commands/SearchCommand.java)/[SearchCommandParser](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/main/java/com/icegreen/greenmail/imap/commands/SearchCommandParser.

[2017-03-14 14:44] sanjeev-addagarla commented on #193
Hi Marcel,
I have modified the below files and initial testing looks good to support this OR term enhancement.
SearchCommandParser.java
SearchKey.java
SearchTermBuilder.java

I will perform a thorough testing and update you.
Meanwhile,  I am attaching the updated source code on this bug.
[UpdatedSource.zip](https://github.com/greenmail-mail-test/greenmail/files/841669/UpdatedSource.zip)

[2017-03-14 21:57] #192 closed

[2017-03-14 22:28] marcelmay commented on #193
Hi @sanjeev-addagarla ,

thanks for the preview.

Tests pass, if you change the following to avoid a NPE triggered by ImapProtocolTest in SearchCommandParser.java, line 114:

[code]

Can you add a test for the OR search to eg ImapSearchTest, and then open a pull request?
Add some search conditions involving OR.

I noticed some minor issues like (probably automatic) reformatting which should be avo

[2017-03-15 12:09] sanjeev-addagarla commented on #193
HI Marcel,
I keep getting the attached error while trying to clone the repo. Do I need any additional permissions?
![giterror](https://cloud.githubusercontent.com/assets/26110934/23947795/491484a8-09a6-11e7-9d5f-162f3c535e3a.png)

[2017-03-15 15:09] sanjeev-addagarla commented on #193
Hi Marcel,

I have fixed auto-formatting issues and updated ImapSearchTest.java with couple of tests.
Pull request: https://github.com/greenmail-mail-test/greenmail/pull/194

[2017-03-15 20:28] voeetech commented on #187
Ugh, emm... please ignore the above,

My IDE switched to 1.5.3 instead of 1.6.0-SNAPSHOT <facepalm>

That is indeed fixed

[2017-03-20 20:17] kcberg commented on #28
This problem got shifted down to the RcptCommand class resulting in the error "503 MAIL must come before RCPT"

[2017-03-21 20:27] voeetech opened #195 "Connection droped by Greenmail (1.6.0-SNAPSHOT) after IMAP RENAME command"
Renaming INBOX works fine:

`tag01 RENAME INBOX old-mail`
`tag01 OK RENAME completed.`

However, It seems that Greenmail drops the connection when trying to rename a newly created folder:

`tag02 CREATE mailBoxName`
`tag02 OK CREATE completed.`
`tag03 RENAME mailBoxName newMailBoxName`
`Connection closed by foreign host.`

using version 1.6.0-SNAPSHOT

[2017-03-24 11:46] SvetlanaKarakasheva opened #196 "Running GreenMail server on jenkins"
Hello,
I have the following case. Maven project, running on Jenkins with JUnit tests that use GreenMail. The test run starts a virtual machine on another machine where we have running JBoss and browser, where Selenium tests are running remotely from Jenkins. The application that is installed in the virtual machine sends mails, which I need to catch and check in the tests on Jenkins. Is that possib

[2017-03-24 19:27] marcelmay commented on #196
Hi @SvetlanaKarakasheva!

GreenMail JBoss Service only supports old JBoss version <= 6, and will be retired in the next version.

A better choice is the more generic [WAR deployment](http://www.icegreen.com/greenmail/#deploy_webapp). If your application-under-test runs on JBoss, the WAR deployment would be a good choice as it is available as long as your application-under-test runs.

[2017-03-25 07:48] #195 closed

[2017-03-27 18:17] JensPiegsa opened #197 "Send mail from localhost within a junit test"
Newbie question:
Beside simulating email delivery and recieving, is it actually possible to send a real mail from e.g. `example@localhost.com` to `someaccount@gmail.com` via smtp with GreenMail within a junit test? Or is this only possible with another server, or the `standalone` GreenMail?

Or maybe the targetted server blocks my mails?

[2017-03-27 20:53] buildscientist commented on #197
@JensPiegsa No it's not possible as GreenMail effectively acts as a closed loop. When your client (email app, test code etc) interfaces with GreenMail's SMTP server - the email is automatically dropped into the users mailbox - assuming the user is defined in GreenMail.

Is there any reason why you're trying to relay to an actual SMTP server?

[2017-03-27 20:59] buildscientist commented on #197
The code in question that handles this available here - [SmtpManager.java]( https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/main/java/com/icegreen/greenmail/smtp/SmtpManager.java#L126-L146)

[2017-03-27 21:02] buildscientist commented on #196
The other alternative is to use greenmail-standalone which you can deploy in a docker container and configure as part of a Jenkins job pre-build step.

[2017-03-27 21:05] buildscientist commented on #166
I believe this was discussed in the PR. The bottom line is - while we don't have any issues with the functionality, it needs to be pulled out of core and introduced as it's own GreenMail module.

[2017-03-27 21:05] #166 closed

[2017-03-27 21:06] #196 closed

[2017-03-27 21:11] JensPiegsa commented on #197
Thanks a lot for the clarification. My use case: I would like to produce content alterations based on html templates for a quick visual check in multiple mail clients.

[2017-03-27 22:06] buildscientist commented on #197
Makes sense now.

One option you might consider would to be configure your mail clients to pull the emails down via POP3/IMAP after the client generating the email/html templates relays it to GreenMail SMTP.

On a side note if you're just looking to do a quick visual check for "look and feel" in multiple email clients I highly recommend [Litmus.com](http://litmus.com). Not a free service but they

[2017-03-28 15:14] JensPiegsa commented on #197
Looks interesting. I'll take a look at it. :-)

[2017-03-29 02:40] ericparton commented on #183
Would it be possible to put this on the docker hub? This seems really useful.

[2017-03-29 02:59] #197 closed

[2017-04-02 14:24] teemoe opened #199 "TLS/SSL secured connection via Thunderbird"
Non-TLS/SSL-secured SMTP/POP3/IMAP-connections between Greenmail and Thunderbird are working without any flaw.
When I’m trying to set up a TLS-secured connection by addressing the TLS-Ports, i.e. 465 for SMTPS and 995 for POP3S in Thunderbird, the greenmail app will throw a SSLHandShakeException complaining about having no cipher suites in common.

I made sure to include the provided Keystore file

[2017-04-02 20:18] marcelmay commented on #193
@sanjeev-addagarla , can you look at ImapSearchTest.testSearch?

It fails:
[code]

[2017-04-03 07:34] sanjeev-addagarla commented on #193
Hi Marcel,

I apologize, I am not familiar with greenmail tests(junit) and how to run it.
That's why I couldn't respond to you on PR#194.

Can you elaborate the issue you have mentioned in above comment. (what is the error you get?)
excluding the test classes, I did a full testing for OR and AND terms in our application and everything looks good.

[2017-04-03 19:05] marcelmay commented on #193
Just run 'mvn clean test' - your test fails at given source code location.
If you look at the test, you see that it checks for text not available in the test message.

[2017-04-05 20:05] marcelmay commented on #184
@rjfioravanti
Let me know if search and the continuation behaviour (when sending the actual bytes) works for you - [tests](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/test/java/com/icegreen/greenmail/imap/commands/ImapProtocolTest.java#L354) seem to run ok.

If it fails, can you give me the relevant verbose output of GreenMail, enabled in tests via
`GreenMailRul

[2017-04-06 00:05] rjfioravanti commented on #184
Hi Marcel. I'm not sure we have bandwidth at the moment to link in head source and test. We are currently only pulling in release binaries. When you publish the next version with this change, we will probably update our release and give it a try. If it still isn't working we can try to submit a patch to fix it for us. Thanks!

[2017-04-11 20:00] marcelmay commented on #184
I'm closing this issue now, for the upcoming 1.5.4 release.

[2017-04-11 20:00] #184 closed

[2017-04-21 12:00] apinske opened #201 "NPE on "SEARCH NOT ...""
regression in 1.5.4
seems to be in new code in SearchCommandParser:108 added in 47af7fc2

IMAP command:
A5 SEARCH NOT (ANSWERED) NOT (DELETED) NOT (SEEN) NOT (FLAGGED) ALL

exception:
Can not handle IMAP connection
java.lang.NullPointerException
	at com.icegreen.greenmail.imap.commands.SearchCommandParser.searchTerm(SearchCommandParser.java:108)
	at com.icegreen.greenmail.imap.commands.SearchComma

[2017-04-26 21:58] #201 closed

[2017-05-10 11:29] p-ledenev opened #202 "SearchCommandParser, npe, v 1.5.4"
Line 92 com.icegreen.greenmail.imap.commands.SearchCommandParser
`if (b.expectsParameter() && key.isCharsetAware() && null != charset && next == CHR_SPACE) {`
**b** is still null after
[code]

[2017-05-11 05:21] marcelmay commented on #202
I think this is a duplicate of #201

[2017-05-11 05:21] #202 closed

[2017-05-11 12:23] marcelmay commented on #2
Works with 1.6.0-SNAPSHOT / 1.5.4

[2017-05-11 12:23] #2 closed

[2017-05-14 10:40] marcelmay commented on #202
@p-ledenev , let me know if newest 1.5.5 release still shows the issue - thx!

[2017-05-17 11:56] bhupendraM opened #203 "Question - javax.net.ssl.SSLException while using IMAPS"
Hi,
I have deployed Greenmail as war in tomcat.
Configured greenmail.imaps.host/port in web.xml
When I am trying to configure an account using outlook, I am not able to do so and on tomcat console I get following exception, and the configuration fails.

Am I missing anything on the configuration end for SSL ?

[smtps:192.168.xxx.xxx:3465<-/192.1xx.162.xxx:62675] ERROR com.icegreen.greenmail.smtp.S

[2017-05-17 12:57] bhupendraM commented on #203
Further to this, openSSL shows that certificate is expired.. not sure if the error is due to above?

If yes, how do I get/update the valid certificate ?

CONNECTED(000001B0)
depth=0 C = US, O = Icegreen Technologies, OU = GreenMail, CN = GreenMail selfsigned Test Certificate
verify error:num=18:self signed certificate
verify return:1
depth=0 C = US, O = Icegreen Technologies, OU = GreenMail, CN =

[2017-05-18 08:09] eflood opened #204 "Reply-To header in SMTP"
When parsing an incoming SMTP message, the SimpleMessageAttributes class attempts to parse a Header called "Reply To". I Believe the the correct name is "Reply-To"

The result is that when the message is retrieved via IMAP the message.getReplyTo() method does not work as expected.

try {
            replyTo = part.getHeader("Reply To");
        } catch (MessagingException me) {
//            if (D

[2017-05-18 19:21] marcelmay opened #205 "Use jre instead of jdk base image for GreenMail standalone docker image"
We already use alpine flavor of openjdk. Using JRE instead JDK, the footprint can be further reduced.

[2017-05-18 19:23] #205 closed

[2017-05-18 19:35] marcelmay commented on #203
You can add an alternate certificate to the classpath. See [DummySSLServerSocketFactory.java](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/main/java/com/icegreen/greenmail/util/DummySSLServerSocketFactory.java#L26).

[2017-05-18 19:36] marcelmay opened #206 "Update embedded default certificate in greenmail.jks"
It's outdated and uses SHA-1.
Also ~~update~~remove the hard coded one in DummySSLServerSocketFactory.java .

[2017-05-18 19:37] marcelmay commented on #203
I added an issue for updating the embedded certificate : #206

[2017-05-18 19:39] marcelmay commented on #203
Related with #199

[2017-05-18 19:43] marcelmay commented on #204
Hi @eflood,

a pull request including test would be very cool. Please try to keep the modifications to a minimum (no auto formatting). Thx alot!

[2017-05-19 19:00] marcelmay commented on #204
Thx alot!

[2017-05-19 19:00] #204 closed

[2017-05-26 12:35] choonchernlim opened #208 "Missing BCC value?"
I'm trying to use `GreenMail` to test my `JavaMailSender`. The code I wanted to test looks something like this:-

[code]

My test looks like this:-

[code]

The last assertion fails.

When I look at the console log, I'm seeing this:-

[code]

So, it seems the BCC email gets created, but it's not appearing when I do `greenMail.receivedMessages.allRecipients`.

What did I do wrong? Thanks.

[2017-05-27 19:26] marcelmay commented on #208
I recommend to use a wait, to make sure GreenMail received all emails (as these are all asynchronously sent in your code), before retrieving the mails:

[code]

[2017-05-27 19:42] marcelmay commented on #208
@choonchernlim : Have a look at the (just improved) test 33c3797

[2017-05-31 19:11] choonchernlim commented on #208
Thank you. That works for me.

[2017-05-31 19:11] #208 closed

[2017-06-11 11:27] technotronic12 commented on #193
Hey, what is the status of the issue? Do you need help with it?

[2017-06-13 14:06] sanjeev-addagarla commented on #193
Hi Eli,

Yes, can you take a look?
I have validated the changes on pull request: https://github.com/greenmail-mail-test/greenmail/pull/194
 locally and it worked as expected. However Marcel has mentioned an issue while running the test package. I am not familiar with maven and didnt get a chance to look into it.

Thanks
SA

[2017-06-13 19:46] marcelmay commented on #193
Any help with tests etc is very appreciated :-)

[2017-06-23 16:23] seguljacg opened #209 "Return Content-ID header in bodystructure response"
4th part of the bodystructure response should be (see RFC 3501)

"body id
            A string giving the content id as defined in [MIME-IMB]."

Currently, nothing is being returned.

https://github.com/greenmail-mail-test/greenmail/blob/b3d5dce0a5aa019932f879250744d0b00fc37eec/greenmail-core/src/main/java/com/icegreen/greenmail/store/SimpleMessageAttributes.java#L517

[2017-06-25 11:51] marcelmay commented on #209
@seguljacg , do you have a test case/test email?

[2017-06-26 10:50] technotronic12 commented on #193
I found the problem and fixed it but I cannot push the change to Sanjeev's account:
Permission to sanjeev-addagarla/greenmail-Issue193.git denied to technotronic12.

[2017-07-01 09:03] sanjeev-addagarla commented on #193
Hi Eli,

I have added you as a collaborator on my repo, Can you try pushing the code again?

[2017-07-01 09:40] sanjeev-addagarla opened #210 "Multiple Enhancements to GreenMail"
Hi Marcel and Team,

4 months back, I was working on a project where we used greenmail for testing Mail Server.
I made some changes during the project, which I would like to share on this Enhancement Request.

Changes:
1) Added a change to persist the mail accounts created on the GreenMail Server.
    How? - Added a logic to write encrypted username/password on a file. The mail server will read th

[2017-07-03 05:09] marcelmay commented on #210
Hi @sanjeev-addagarla ,

that is quite an impressive list.
We will pick thru the changes.

Thanks alot for sharing/publishing!

[2017-07-04 13:12] technotronic12 commented on #193
I want to do some refactor to the search command parser and the imap search test. Please add me as a collaborator to this repo so I could contribute

[2017-07-04 13:54] sanjeev-addagarla commented on #193
Hi Eli,
You were already added as a collaborator.

Thanks

[2017-07-05 07:54] technotronic12 commented on #193
I wrote to @marcelmay, please add me to your repo so I can push some refactoring

[2017-07-05 20:07] marcelmay commented on #193
@technotronic12 : For refactorings, please create a pull request from current master.
That search part has grown alot and can use quite some refactorings.

[2017-07-05 20:08] #193 closed

[2017-07-15 15:39] technotronic12 commented on #174
@marcelmay can you show me an example of how to search by sequence set? I want to write a test for it

[2017-07-16 19:03] marcelmay commented on #174
Hi @technotronic12,

there is a [ImapProtocolTest#testSearchSequenceSet](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/test/java/com/icegreen/greenmail/imap/commands/ImapProtocolTest.java#L165)
and [ImapProtocolTest#testUidSearchSequenceSet](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/test/java/com/icegreen/greenmail/imap/comman

[2017-07-19 12:53] Frolx opened #211 "IMAP Server - Messages are appended with wrong INTERNALDATE"
Hello guys, I have an issue with GreenMail - IMAP server.
The messages that are appended to the GreenMail IMAP server using JavaMail Library, are stored with wrong INTERNALDATE.

The weird think is that the issues occur between 12:00 PM - 1:00 PM.

Both the application in which GreenMail is ran, and the client that appends the messages to the IMAP store, are in BST timezone. (i checked on UTC too)

[2017-07-20 19:58] buildscientist commented on #211
Hi @Frolx. Thanks for submitting the issue. I haven't seen this issue occur but then again I generally do not assert on specific times (just dates) for incoming emails.

Just to clarify - are you saying this issue occurs when a client sends in an email using BST OR UTC timezones?

[2017-07-21 08:51] Frolx commented on #211
Do not send, just append using IMAP protocol. I tested on UTC and BST, in both cases result is the same.

[2017-09-11 07:08] buildscientist commented on #203
Related to #130 - in that if we allow dynamic import of a JKS - users can generate their own certificates for use within the keystore.

[2017-10-04 18:09] chriswhite199 opened #213 "SimpleMessageAttributes parsing of personal email addresses containing quoted commas"
When trying to replay raw email messages through GreenMail, i've come across the following stack trace error, which relates to the fact that the From email address in my raw email file has a 'personal' email component to it, and that component contains a comma:

    From: "Test, User" <test@localhost>

Here's the stack trace:

[code]

The InternetAddress constructor happily accepts the string:

[2017-10-05 20:38] marcelmay commented on #213
Thx for reporting and analysing this issue @chriswhite199.

I will investigate the issue this weekend - any PR welcome (for test case, or complete fix).

[2017-10-06 23:20] chriswhite199 commented on #213
I think you just need to use the `InternetAddress.parseHeader(address, true)` method use the default rules and then for each InternetAddress returned in the array, call the `getAddress()` method - i'll take a look and raise a PR if i can make it work

[2017-10-07 00:04] chriswhite199 commented on #213
You can trigger the failure by updating the `GreenMailUtilTest.testSendTextEmailTest` as follows:

[code]

[2017-10-10 03:33] chriswhite199 commented on #213
PR #214

[2017-10-10 18:14] marcelmay commented on #213
Thx alot for the PR, @chriswhite199 !

[2017-10-10 18:14] #213 closed

[2017-10-10 19:10] buildscientist opened #215 "Sonar link in README is invalid"
The Sonar link referenced in the README is invalid.

SonarCloud has introduced [GitHub integration](https://about.sonarcloud.io/get-started/) which requires auth tokens to be generated for a project.

Sonar analysis hasn't been run against GreenMail since 9/2016 - see [Sonar dashboard](https://sonarcloud.io/dashboard?id=com.icegreen%3Agreenmail-parent) for more details.

[2017-10-10 19:15] marcelmay opened #216 "Upgrade to JavaMail 1.6"
- Maven dependencies
- Javadoc links (pom.xml)
- Check [release note](https://javaee.github.io/javamail/) for further actions

[2017-10-12 05:17] buildscientist commented on #215
@marcelmay @camann9
Looks like the latest version of the Sonar Mavan plugin only support JDK 8.0 or above.

When I run a CircleCI build with mvn sonar:sonar phase I get the following error:

[code]
See [build 113](https://circleci.com/gh/buildscientist/greenmail/113#queue-placeholder/containers/0) off of my branch for more details.

Do we need to continue supporting JDK7 builds? Can someone get so

[2017-10-12 18:40] marcelmay commented on #215
In general we support JDK 7 with GreenMail 1.5.x, therefore a JDK 7 build is essential.
We won't see certain issues (compile for 7, but accidentally use JDK 8 API ... runtime behaviour etc.).

The sonar analysis step can run any JDK >= 7, as it is the analysis part afterwards (no compilation, no artifacts creation, no test invocations).

So we could run sonar report regardless of the project JDK (

[2017-10-12 18:44] buildscientist commented on #215
@marcelmay

Makes sense - I wanted to avoid having a more complex build. I'll modify the build process to only run Sonar if we're building against JDK8 or above. Unfortunate that SonarQube is requiring JDK8 or above just to use their Maven plugin.

[2017-10-12 18:53] buildscientist commented on #215
The [prerequisites](https://docs.sonarqube.org/display/SCAN/Analyzing+with+SonarQube+Scanner+for+Maven) from SonarQube's documentation stating that Java8 is required to use the Maven plugin.

[2017-10-20 05:35] chriswhite199 commented on #206
Pull Request #217 has been opened for review

[2017-10-20 19:07] buildscientist commented on #206
@chriswhite199
Thanks for the PR. Any chance we could get the byte stream for the JKS generated?

@marcelmay is that something we can do on init given that we're now generating a new JKS per build?

[2017-10-20 19:11] marcelmay commented on #206
@buildscientist  : I think I'll throw out the byte stream, and always load it from greenmail.jks. I believe it is a leftover from back when there was no greenmail.jks.

[2017-10-20 19:14] buildscientist commented on #206
@marcelmay Makes sense - although I like the idea of having a backup in case for whatever reason the JKS can't be loaded. For example if the plugin introduces a bug and starts generating bad JKS - GreenMail won't load.

[2017-10-20 19:45] marcelmay commented on #206
That case - broken jks - should be caught by our tests which send/receive via SMTPS/POP3S/SMTPS.

Actually I believe the fallback never was tested...

[2017-10-20 19:48] buildscientist commented on #206
Agreed but even in that case our users will either have to upgrade to the latest version to get a fix or override the build process.

I still think that the fallback process should be implemented. For the time being we can close out this issue and create a new fallback process (with tests) as an enhancement.

[2017-10-20 20:15] marcelmay commented on #206
I'll change the certificate validity to the max of 825 days.

[2017-10-20 20:21] #206 closed

[2017-10-21 05:08] chriswhite199 commented on #203
With the cert being updated in #206, is this issue still valid? (i'm pushing to get 1.5.6 published if you hadn't guessed)

[2017-10-24 20:06] marcelmay commented on #203
Just checked with Thunderbird 52.2.1 :
Sending via SMTPS and receiving via IMAPS works with current development version (after confirming in Thunderbird to accept certificate from unknown_ca).

[2017-10-24 20:06] #203 closed

[2017-10-31 18:55] joshimaulik opened #218 "IMAP is not retrieving or receiving any email"
Hello,

My use case for the green mail is to set up mail server which can be access from two different processes.
Below steps I am performing

1) Configuring greenmail using this command
`java -Dgreenmail.setup.test.smtp -Dgreenmail.setup.test.imap -Dgreenmail.users=test1:pwd1 -Dgreenmail.verbose -jar greenmail-standalone-1.6.0-SNAPSHOT.jar`
2)Send test email using java mail on the SMTP setup by g

[2017-11-02 20:13] marcelmay commented on #218
You're sending to a different user, as you check the mail for after sending:

vs

You should also use the email as user identifier when logging in:
"test1@localhost" instead of "test1" .

I tried out your example, but something is still not working ...

[2017-11-02 20:38] marcelmay commented on #218
Your MessageCountAdapter probably won't work like that with creating new sessions in a loop.

[2017-11-02 22:10] joshimaulik commented on #218
I changed the  toAddress to test1@localhost.

But when I run testImap, still it's not receiving any email.  Message count is always 0 on IMAP side.

maulik messages.length---0

[2017-11-03 17:39] #218 closed

[2017-11-09 23:36] chriswhite199 commented on #210
What's the latest on this? I have a need for the OR term (which i can rework using `AND(NOT, NOT, NOT)` for my purposes), as well as adding SINCE (which i'm happy to try and action myself).

Would it be worth while splitting this Issue into sub-issues for each bullet and then they can be introduced more gradually?

[2017-11-10 14:14] rweisleder opened #219 "Support for JUnit 5"
JUnit 5 does not support `@Rule` anymore: http://junit.org/junit5/docs/current/user-guide/#migrating-from-junit4
Instead Greenmail should support an extension which implements the same behaviour as `GreenMailRule`.

JUnit 5 requires Java 8, so at least the new extension must have the compile source 1.8.

[2017-11-11 19:53] marcelmay commented on #210
@chriswhite199  : The OR term should be already included via #193 .

[2017-11-15 20:59] chriswhite199 commented on #210
@marcelmay - That's in 1.5.6 i see - is there a plan to release that version anytime soon?

[2017-11-15 21:39] marcelmay commented on #210
@chriswhite199 : I plan to release it this weekend.

[2017-11-20 22:02] marcelmay commented on #210
@chriswhite199 : Just an update - there is a regression with the GreenMail standalone docker image, and I'm working on it to get the release out...

[2017-11-21 20:54] smccants opened #220 "GreenMail.waitForIncomingEmail(...) waits twice the requested time"
Working on speeding up some of our tests and I noticed that when we call waitForIncomingEmail(time, number) and we are desiring a time out (i.e. the code under test should *not* send an email), waitForIncoingEmail() waits twice as long as our code requests.  For example:

`mailServer.waitForIncomingEmail(10000, 1);`

will time out after 20000ms.

This was seen with GreenMail 1.5.5.

[2017-11-21 23:15] smccants commented on #220
Test case written for JUnit4 with Hamcrest.  Reproduces the problem pretty reliably:

[code]

[2017-11-23 06:03] marcelmay opened #221 "GreenMail Standalone Docker runs into JDK 7 SSL issue with latest openjdk:7-jre-alpine base image"
Building with latest Docker base image openjdk:7-jre-alpine fails due to broken JDK version:

[code]
This is related to https://bugs.openjdk.java.net/browse/JDK-8173783 and latest alpine using JDK 1.7.0_131 .

Workaround is to pin to base image with previous JDK version using openjdk:7u121-jre-alpine .

[2017-11-23 06:17] #221 closed

[2017-11-24 16:38] marcelmay commented on #210
@chriswhite199 : [1.5.6](https://github.com/greenmail-mail-test/greenmail/releases/tag/release-1.5.6) is out

[2017-11-26 16:10] marcelmay commented on #221
Link to relevant [Docker JDK base image issue](https://github.com/docker-library/openjdk/issues/117)

[2017-11-26 22:25] marcelmay commented on #220
Hi @smccants!

Thanks alot for providing a test.

That is strange: The test runs fine, even when looping the wait part.
The timeout works with less than 0.1% deviation from the specified timeout (MacOs 10.13.1  / Oracle JDK 1.8.0_151 / GreenMail 1.5.6).

What's your OS and JDK version?
What's the OS current load?

[2017-11-27 12:12] marcelmay commented on #220
@smccants : It seems to occur pretty randomly. Just had the test fail for the first time.

[2017-11-27 12:49] marcelmay commented on #220
Under unfortunate conditions - Object.wait(...) with early interruption before mail arrival - the wait can take twice as long.

[2017-11-27 12:52] #220 closed

[2017-11-27 14:09] smccants commented on #220
Thanks for looking into this.  It was failing very reliably for me and I've rarely seen Object.wait(...) go twice as long before, but it certainly can be unreliable.  You'd think in this day and age we would have computers and software that could count reliably. =)

Thanks again for looking into it.

[2017-11-29 18:53] marcelmay opened #222 "Migrate from hamcrest to assertj"
Migrate from hamcrest to [assertj](http://joel-costigliola.github.io/assertj/index.html).

Summary of AssertJ vs Hamcrest:
https://www.blazemeter.com/blog/hamcrest-vs-assertj-assertion-frameworks-which-one-should-you-choose

[2017-12-15 07:42] longtimeago opened #223 "Could not start mail server imaps in Docker container"
Good day!
We've faced with weird instability - pretty often imap server can't start with following log:

[code]

We start container from `greenmail/standalone:1.5.2` image with following parameters
`GREENMAIL_OPTS=-Dgreenmail.setup.test.all -Dgreenmail.hostname=mailmock -Dgreenmail.auth.disabled -Dgreenmail.verbose`

Is there any way to increase startup server timeout via system property?
Could we

[2017-12-15 21:04] marcelmay commented on #223
Unfortunately there is no configurable timeout (yet).

* Try latest 1.5.6 - since 1.5.3, you can pass ENV variables to Docker image (#179 , since 1.5.3)
* Run standalone interactively to see output:
[code]
* Is```mailmock``` DNS resolvable? Maybe just try ```0.0.0.0```?

[2017-12-18 07:05] longtimeago commented on #223
@marcelmay thanks for suggestions! We will try latest version but not sure if it will help.
Most probably, host appears to be under heavy load, thus, greenmail simply can't finish startup in 1s.
So, it would be very nice to expose timeout as a system property :)

@marcelmay Yes, it is :) we run docker-compose

[2017-12-18 23:45] marcelmay commented on #223
@longtimeago : Can you try latest [greenmail/standalone:1.6.0-SNAPSHOT docker image](https://hub.docker.com/r/greenmail/standalone/tags/) or GreenMail 1.6.0-SNAPSHOT?

The default timeout of 1000ms can be overridden now via -Dgreenmail.startup.timeout=<TIMEOUT_IN_MILLISECONDS> .

[2017-12-21 07:32] longtimeago commented on #223
@marcelmay thank you very much! This is exactly what we need :+1:
Hope to see new release with this parameter soon.
Have a nice holidays! :)

[2017-12-21 17:14] alexsuter opened #225 "Remove JUnit Dependency"
The `GreenMailRule` is a nice thing, but I think it is not a good idea to depend on a certain JUnit version. I recommend to remove the JUnit dependency and also remove the `GreenMailRule` feature. A **GreenMail** library user don't want to depent on the same junit version as **GreenMail** provides.

What do you think about that?

[2017-12-21 17:21] alexsuter commented on #225
Closed > look here: https://github.com/greenmail-mail-test/greenmail/pull/226

[2017-12-21 17:21] #225 closed

[2017-12-27 08:16] marcelmay opened #227 "Refactor server startup synchronisation to use java.util.concurrent"
Less error prone, less complex.

[2017-12-27 08:24] #227 closed

[2017-12-27 12:18] sunmeplz opened #228 "Error in getReceivedMessagesForDomain(String domain) in GreenMail.class"
In getReceivedMessagesForDomain(String domain)
[code]
I don't know it is a bug or feature, but this expression  if (tos.toLowerCase().contains(domain)) cause bug when you have similar names lile name@domain and somename@domain.If you send one message for each address this results unexpected message count for name@domain as it additionaly got somename@domain message

[2018-01-07 14:45] marcelmay commented on #228
Hi @sunmeplz !

For your example ```getReceivedMessagesForDomain('domain')``` , I'd expect
all messages mails for
* somename@domain
* name@domain

an no mails for users of other domains like
* name@other-domain

[2018-02-01 14:15] dtsvirkun opened #229 "Is there any way to connect to greenmail api that runs on another host?"
We run greenmail server on other another VM, we can use it as mail box server, but we want to create user on running server, is there any way to connect to already running stadlalone server (jar or inside docker) and play with users on it?

[2018-02-03 12:17] marcelmay commented on #229
Hi @HDimka!

GreenMail has currently no remote admin api (but there is a feature request for one #108).

Have you tried the option "-Dgreenmail.auth.disabled" , would that work for you? Any pwd gets accepted, and users should be auto created.

[2018-02-09 11:07] marcelmay opened #230 "Update GreenMail Standalone base docker image"
Update from openjdk:7u121-jre-alpine to latest openjdk:7u151-jre-alpine.

Previous one with openjdk 7u131 had broken SSL/TLS implementation (see #221).

[2018-02-09 12:03] #230 closed

[2018-02-09 13:44] #228 closed

[2018-02-09 16:17] marcelmay opened #231 "Send IMAP NO response for IMAP LIST and STATUS if mailbox does not exist"
Currently a FolderException occurs.

Expected is a 'NO' response for [LIST](https://tools.ietf.org/html/rfc3501#section-6.3.8) and [STATUS](https://tools.ietf.org/html/rfc3501#section-6.3.10).

[2018-02-09 19:57] #231 closed

[2018-02-09 20:52] marcelmay opened #232 "InterruptedException should not be ignored"
Sonar squid:S2142 bug finding

[2018-02-09 20:54] #232 closed

[2018-02-09 21:19] marcelmay commented on #209
Please reopen if it still fails in upcoming 1.5.7 .  I was not able to reproduce it that by a test, but as you mentioned it was obviously missing in the code for certain cases.

[2018-02-09 21:19] #209 closed

[2018-02-09 21:22] marcelmay commented on #223
Closing the issue, as I'm about to release 1.5.7 containing the mentioned fix.

[2018-02-09 21:22] #223 closed

[2018-02-09 21:35] marcelmay commented on #39
Relates/extends to #222

[2018-02-10 07:01] longtimeago commented on #223
Thanks a lot!

[2018-02-13 21:22] marcelmay opened #234 "SearchCommandParser breaks with OR"
Looks quite broken and overdue for a rewrite

[2018-02-26 11:06] ahmedmohiduet opened #238 "Can not run roundcube docker-compose"
I am facing error msg: "roundcube_1  | /bin/sh: /run.sh: not found" "roundcube_roundcube_1 exited with code 127"

![image](https://user-images.githubusercontent.com/3110101/36667150-23fc95ec-1b17-11e8-976d-683b1780e961.png)

How can I get around this issue?

[2018-03-06 21:44] marcelmay commented on #238
@ahmedmohiduet , can you provide the full output?

Any change when you do run docker commands [directly](https://github.com/greenmail-mail-test/greenmail/tree/master/greenmail-docker/clients/roundcube#how-to-run-with-docker-instead-of-docker-compose)  (without docker-compose)?

[2018-03-14 12:29] nikowitt opened #239 "Changed behaviour while delivering corrupted messages"
Hi there,

commit https://github.com/greenmail-mail-test/greenmail/commit/7930b1050c72df59e6e58eab0d400dc4a873b1a8 changed the behaviour while dealing with corrupted mime messages. When throwing the exception, the server then closes the connection, before that change it remained open. IMHO, this could cause trouble as a mail server should simply return the data stream and any parsing issue should

[2018-03-15 13:18] nikowitt commented on #239
Update: it seems that when there is a parsing issue with a mail, GreenMail might return another mail than the corrupted one, but I haven't figured this out clearly yet.

[2018-03-20 01:40] l0b0 opened #240 "Support NAMESPACE command"
The relevant part of the log:

[code]

Relevant docker-compose.yml content:

[code]

I'm not familiar with IMAP, so I'm not sure if this command is a standard part of IMAP. But I need to test a system which sends email, and it uses the namespace.

[2018-03-20 21:25] marcelmay commented on #240
Spec for implementation: https://www.ietf.org/rfc/rfc2342.txt

[2018-03-27 18:51] javydreamercsw opened #242 "Retriever accepts null server causing NPE later"
It probably should check for null during creation.

[2018-03-27 19:08] #242 closed

[2018-03-27 19:08] marcelmay commented on #242
Agreed, throws now an IllegalArgumentException. Thx!

[2018-03-28 13:12] javydreamercsw commented on #242
Thanks you!

[2018-03-29 15:57] javydreamercsw opened #243 "Retriever using SMTPS TLS"
Trying code as follows:

[code]
Gives me an error on `Message[] messages = retriever.getMessages(email, password);` about invalid provider.

I create the server as suggested:

[code]

Receiving the messages li below gives no issues:

`Message[] messages = mailServer.getReceivedMessages();`

[2018-04-02 16:22] marcelmay commented on #243
Retriever works by using the mail protocols (IMAP or POP3) for retrieving mails, and therefore works remotely.

A `mailServer.getReceivedMessages()` directly accesses the server instance (and won't work remotely).

Regarding your example:
* Start GreenMail using SMTPS (for sending) and IMAPS for retrieving email:
   `mailServer = new GreenMail(ServerSetupTest.SMTPS_IMAPS);`
* Use imap server when

[2018-04-06 19:51] dmtroyer commented on #208
I stumbled upon this when having similar issues. This is expected behavior, given that ["BCC addresses are not contained in the message since other receivers are not allowed to know the list of".](https://github.com/greenmail-mail-test/greenmail/blob/33c379745715a7b1aa8247f23dc381fe9f6288ec/greenmail-core/src/test/java/com/icegreen/greenmail/test/specificmessages/SenderRecipientTest.java#L159)

[2018-04-16 04:28] x29a opened #244 "Web IF in standalone docker"
Hi there and thanks for a great software!

Is it possible to get a web interface from the docker standalone container just like the JBoss JMX interface?

Or any other management interface besides SSH or setting up a full mailclient?

thanks!

[2018-04-16 05:42] marcelmay commented on #244
Hi @x29a!

I recommend to use eq squirrelmail or rainloop (eg via docker compose).
GreenMail uses some [web ui docker images](../tree/master/greenmail-docker/clients) for testing.

Adding a mail web UI to GreenMail would be reinventing the wheel, and is out of scope.
You can use any IMAP client and connect to GreenMail.

There is a plan to add an admin mgmt API (#108), though.

[2018-04-16 05:42] #244 closed

[2018-04-20 16:56] 1livv opened #245 "Concurrency issues when creating/deleting users"
Hi,

Context: I have a few hundred tests that rely on greenmail. The tests are run in parallel to decrease the run time. A typical test will:

- Create an user
- Call an external service to send a mail to the newly created user
- Wait for that email and check it's content
- Delete the user

The problem is that sometimes I run into concurrency issues, specifically:
       `Caused by: java.util.Conc

[2018-04-21 10:58] #243 closed

[2018-04-22 17:46] marcelmay commented on #245
@1livv , can you provide a simple test case for reproducing this?

[2018-04-23 10:14] 1livv commented on #245
Hi @marcelmay
I made a repo to reproduce this issue.
Could you take a look?

https://github.com/1livv/greenmail-test

[2018-04-23 21:16] #245 closed

[2018-06-13 17:09] jstedfast opened #247 "`nz-number` is defined as a non-zero 32bit unsigned integer, not 64bit."
Greenmail returns the following UIDVALIDITY response code:

[code]

Note how that value is 64bit, not 32bit.

Line 4895 of rfc3501 defines `nz-number` as follows:

[code]

And it also defines the UIDVALIDITY resp-code as follows:

[code]

[2018-06-13 22:04] #247 closed

[2018-06-13 22:05] marcelmay commented on #247
Thx, @jstedfast !

[2018-06-14 11:54] jstedfast commented on #247
Always glad to help :)

[2018-06-26 20:15] marcelmay opened #248 "Dependency updates"
Update dependencies:
- commons-io:commons-io ....... 2.5 -> 2.6
- org.slf4j:jcl-over-slf4j .............. 1.7.21 -> 1.7.25
- org.slf4j:slf4j-api ..................... 1.7.21 -> 1.7.25
- org.slf4j:slf4j-log4j12 ............... 1.7.21 -> 1.7.25
- org.slf4j:slf4j-simple ................ 1.7.21 -> 1.7.25
- org.easymock:easymock ......... 3.4 -> 3.6
- org.springframework:spring-beans ...... 4.2.6.RELEA

[2018-06-26 20:30] #248 closed

[2018-06-27 16:19] smccants opened #249 "Follow up to #220: Improve wait times"
This is a follow up to ticket #220 .  There is a fairly simple wait to improve wait times.  The current code (GreenMail 1.5.5) in GreenMail.waitForIncomingEmail(...) reads:

[code]
To improved the accuracy, instead of waiting "timeout" every time, wait timeout - the time already waited.  The code might look something like:

[code]

[2018-06-28 18:34] smccants commented on #249
Sorry, I'd missed that fix.  Thanks for your reply.

[2018-07-01 15:00] voplex95 commented on #219
Hi,
Seems like milestone 1.6 is far from over.
https://github.com/greenmail-mail-test/greenmail/milestone/4
If support for JUnit 5 is considered to be implemented, maybe it could be released sooner as a separate version.
Would really appreciate it.

[2018-07-01 18:59] marcelmay commented on #219
You could try [latest 1.6-SNAPSHOT](https://oss.sonatype.org/content/repositories/snapshots/com/icegreen/). It contains #241 , a new [GreenMail module](greenmail/tree/master/greenmail-junit5) providing Junit5 support.

[2018-07-09 12:07] mdemori opened #250 "Preload email files during greenmail start"
Hi,

I need to use greenmail as standalone server with IMAP settings (this because my application is not written in Java).
my application work as follow:
- read all email from one IMAP folder,
- check all message attachment for specific pattern and if the patters has found download the file
- move the  message to another folder as backup,
The problem is that I found some strange cases with attachm

[2018-08-17 06:12] jupan1994 opened #251 "Append Message is so slow"
Hi, I am new here, not sure why my code to append the MimeMessage into MailFolder is so slow? Basically, I first get a list of messages from the Gmail server, then I append these messages into MailFolder , then an email client may fetch them. The method I used is MailFolder.appendMessage(). Any ideas? Thx

[2018-08-18 03:13] buildscientist commented on #251
@jupan1994 Do you have any example code to show us what you're doing?

[2018-08-19 13:16] marcelmay commented on #251
@jupan1994 , thx for the code snippet.

I ran a profiler on an artifical micro benchmark appending 4k messages and found some improvements (see my commit).

- Can you try with latest master? Do you see an improvement?
- How many emails are we talking about?
- Which version of GreenMail do you use?

Cheers,
Marcel

[2018-08-19 20:25] marcelmay commented on #251
Thx for the feedback, @jupan1994 .

That was a quick win so far, and I'm afraid further tuning would require more extensive changes.

Regarding downloading and appending: For thousands of emails I'd try to have one (producer) thread downloading emails, and another (consumer) thread appending the messages.

@buildscientist :  Any further tuning ideas?

I plan to do a 1.5.8 release soon. Unless we f

[2018-08-19 20:41] jupan1994 commented on #251
@marcelmay @buildscientist Thank you for your great work! Your comments are more than helpful!

[2018-08-19 20:44] buildscientist commented on #251
Agree on the producer/consumer pattern. @jupan1994 what are you trying to accomplish here? Is there any reason you can't just bulk download the emails from Gmail using their REST API and batch feed it into GreenMail?

[2018-08-19 21:08] jupan1994 commented on #251
@marcelmay @buildscientist
First, I want to correct my mistake

Please neglect this paragraph ...
Actually, I did do the bulk download and batch feed, sorry for the confusion. I was messed up with something here.

So, the core of this issue is the performance of **appendMeesage()** method. I guess I already had a answer. Thank you guys!

[2018-08-19 21:36] ralphtheninja commented on #189
Any progress on this? I really like this server for its simplicity and ease of configuration but missing `AUTH` command is a bummer :/

[2018-08-19 23:27] buildscientist commented on #251
@jupan1994 you could create multiple MailFolders and then allocate a thread per MailFolder to append emails to.

Of course you'd need to figure out a way to split the emails you're getting from Gmail. Perhaps by sender?

[2018-08-20 03:38] marcelmay commented on #189
As stated above, AUTH PLAIN might be a starter. I'll try to look into this ~ next weekend.

[2018-08-20 14:55] ralphtheninja opened #252 "Send and receive emails (for testing clients)"
I'm looking for a simple server for testing sending and retrieving emails in Delta Chat and I'm wondering if `greenmail` can be used for this. My main use case is basically:

* two different users connecting to smtp and imap
* they both send emails using smtp and retrieve using imap

It's perfectly fine if the users (clients) use the same server, so there's no need to send emails from one server t

[2018-08-20 18:52] marcelmay commented on #252
Hi @ralphtheninja ,

that should work (multiple users, smtp and imap).

* Would you run GreenMail as [standalone docker image](http://www.icegreen.com/greenmail/#deploy_docker_standalone), for testing Delta Chat?
* Does Delta Chat require IMAPS/SMTPS for testing? If so, how does Delta Chat deal with self signed/untrusted certificates?
* Delta Chat requires #189, right?

[2018-08-20 20:10] ralphtheninja commented on #252
Yes, that's the idea. On e.g. Travis.

Not really. The tests would be running on localhost, so security isn't important for that reason. But on the other hand it would be nice to have. Afaik, there are no warnings when connecting to a server with a self signed certificate.

Correct. The smtp client ([`libetpan`](https://github.com/dinhviethoa/libetpan)) complains if the server isn't implementing `

[2018-08-20 21:56] buildscientist commented on #251
Closing this as @marcelmay provided a fix in 5de9b47 and I provided a potential design solution to @jupan1994

[2018-08-20 21:56] #251 closed

[2018-08-20 22:09] buildscientist commented on #252
That would depend on your SSL library right?

Note: GreenMail uses an **expired** self-signed certificate so if you're using SMTP/IMAP over TLS your mail client may throw warnings/errors about this.

FYI - there's an enhancement in #130 to support dynamic loading of SSL certificates.

[2018-08-20 22:19] buildscientist commented on #252
You could fetch the GreenMail Docker image from Docker Hub via TravisCI

Alternatively - a better approach would be for you to create a Docker Compose file that includes GreenMail's Docker image and one for Delta-Chat.

If you do plan on contributing one - see [GreenMail Docker Clients](https://github.com/greenmail-mail-test/greenmail/tree/master/greenmail-docker/clients) for some examples.

[2018-08-25 13:12] marcelmay commented on #189
@rjfioravanti : I changed the title and scoped it to AUTH PLAIN only. For a start.

@ralphtheninja : Can you provide feedback? So far I ran only some junit tests, using SMTP protocol directly and via `Transport.send(msg, user, pwd)`.

[2018-08-25 13:15] marcelmay commented on #189
Additional note: GreenMail SMTP does not enforce AUTH at the moment, but if a client sends AUTH GreenMail SMTP will authenticate agains a created user. See test example [SmtpServerTest#testAuth](https://github.com/greenmail-mail-test/greenmail/blob/master/greenmail-core/src/test/java/com/icegreen/greenmail/test/SmtpServerTest.java#L160).

[2018-08-25 15:59] ralphtheninja commented on #189
Definitely. Trying to build latest master (via `mvn clean install -Pdocker`) but run into some problems:

[code]

I'm no java expert, but it seems I'm missing something.

[2018-08-25 16:54] marcelmay commented on #189
Are you using JDK9/10/11? Looks like JDK 9 modularization side effect.

Try adding `--add-modules java.xml.bind` to the Maven options environment MAVEN_OPTS,
eg for bash via `export MAVEN_OPTS="$MAVEN_OPTS --add-modules java.xml.bind"`.

[2018-08-25 17:05] ralphtheninja commented on #189
Aye, 11.

Worked like a charm. Thanks for assistance! Will test a bit and get back to you.

[2018-08-25 17:33] ralphtheninja commented on #189
@marcelmay I can login with smtp using DeltaChat now! :smile:

[2018-08-25 18:29] marcelmay commented on #189
Good news, and thx for the feedback.

So I'll close this and will probably build a release [1.5.8](https://github.com/greenmail-mail-test/greenmail/milestone/14?closed=1) ~ tomorrow.

[2018-08-25 18:48] ralphtheninja commented on #189
Sounds good!

[2018-08-25 18:48] #252 closed

[2018-08-26 07:28] marcelmay opened #253 "Update greenmail-standalone docker base image"
Update from openjdk:7u151-jre-alpine to latest openjdk:7u181-jdk-alpine3.8

[2018-08-26 07:46] #253 closed

[2018-08-26 21:11] #189 closed

[2018-08-29 03:54] jupan1994 opened #254 "Is Gmail client's (phone) behavior related to GreenMail implementation?"
Hi folks,

I am wondering does GreenMail implementation affect Gamil client's behavior. As a mobile email client, I assume it does not want to download all emails from the server. But when I config Gmail app to connect to GreenMail, it first fetches all email headers. then it fetches all the emails' body one by one. In my imagination, the Gmail client should have some kinds of traffic control inst

[2018-08-30 21:16] buildscientist commented on #254
@jupan1994

I can't speak on behalf of how the Gmail mobile client works but I would imagine that it is heavily dependent on the peer it's connecting to.

GreenMail supports IMAPv4 and the behavior you're describing appears to be correct.

Were you expecting different behavior?

[2018-09-01 10:34] marcelmay commented on #254
As @buildscientist says it really depends on the servers IMAP capabilities (basically there is a negotiation of features when connecting).

There's a [JavaMail GMail FAQ](https://javaee.github.io/javamail/FAQ#gmail) pointing out some GMail IMAP specialities.

[2018-09-01 10:34] #254 closed

[2018-09-01 10:44] marcelmay opened #255 "Fix vmlens detected threading issues"
- ImapSessionFolder.­sizeChanged
- HierarchicalFolder.­name
- HierarchicalFolder.­nextUid
- MultiRequestTest$RetrieverThread.­count

[2018-09-01 10:47] #255 closed

[2018-09-01 10:56] marcelmay commented on #254
More [JavaMail and GMail specialties](https://javaee.github.io/javamail/Gmail)

[2018-09-06 03:50] isengrim613 opened #256 "New GreenMail::setUser methods should accept char[] for password instead of strings"
[code]

Password field should accept a `char[]` instead of a string.
Long reason:
https://stackoverflow.com/questions/8881291/why-is-char-preferred-over-string-for-passwords

TL;DR;:
Strings are immutable, it means that the string will stay in memory in the object's lifetime, until GC cleans it up.
char[] are mutable, it means that the developer can set the characters in the char[] to all '0' afte

[2018-09-06 07:54] isengrim613 commented on #256
Nevermind I think, as GreenMail is positioned as a testing server

[2018-09-06 07:54] #256 closed

[2018-09-12 00:50] phihag opened #257 "UTF-8 umlauts are replaced by question marks"
I send a mail like this (all UTF-8):
[code]
There's also a HTML body.

Then, I want to get that message via IMAP:

[code]

Yes, there is literally an ASCII question mark in there.

This also happens when I send messages in Thunderbird and retrieve them with Thunderbird.

I expect that UTF-8 characters are untouched.

[2018-09-23 10:35] webermike opened #259 "add more protocols - e.g. for chat over email"
Hello, Marcel and all
Greenmail is a very easy to set up server - even in RAM and also self configuring.
There are clients which provide Chat over Email. This protocol is called POPTASTIC.
Read more about it here: https://compendio.github.io/goldbug-manual/
Next to crypto chat over email, there is the chat server for echo packets, a second protocol.
Several chat clients like spot-on, goldbug, smok

[2018-10-24 11:33] iluxa-com opened #260 "greenmail.auth.disabled doesn't work as expected"
Steps:
Run standalone Greenmail server with the -Dgreenmail.auth.disabled option
send an email to the server for test@test.com //new account is created
Try to fetch emails for test@test.com from the server connecting as test@test.com with any password

Expected: The emails fetch successfully since documentation states:
[code]
Actual: The server drops connection with the wrong password error.

[2018-10-24 11:41] iluxa-com opened #261 "greenmail server looses a message when the recipient doesn't exist yet"
Steps:
Run standalone greenmail server
send a message to test@test.com // test@test.com account is created
try to fetch emails from the server for test@test.com

Expected: The message is fetched.
Actual: No emails fetched from the server. All the subsequence send/receive attempts are ok.

[2018-10-26 03:28] nikowitt commented on #239
Are there any additional thoughts on this? Could you provide a quick estimation if it could be possible to return corrupted messages as well?

[2018-10-26 09:43] nikowitt commented on #239
I found the solution: The parsing method itself should use InternetAddress.parseHeaders instead of InternetAddress.parse as this is more error-tolerant. This way, I can provide malformed fixtures to be tested. PR to be prepared.

[2018-10-29 10:30] #239 closed

[2018-11-23 15:49] jonhoo opened #264 "Empty SEARCH response is invalid according to RFC 3501"
If I sent `a1 SEARCH ALL` to GreenMail, it responds with `* SEARCH ` (note the trailing space). As @djc points out in https://github.com/djc/tokio-imap/issues/34#issuecomment-441171556, that's not technically a valid `SEARCH` reply, as it may only contain a trailing space if followed by at least one ID.

[2018-11-23 17:48] jonhoo commented on #264
Specifically, I think what is happening here is that

https://github.com/greenmail-mail-test/greenmail/blob/e80650bb70e7eb0feee31b9cb92ddccf0b07f351/greenmail-core/src/main/java/com/icegreen/greenmail/imap/commands/SearchCommand.java#L86

ends up calling

https://github.com/greenmail-mail-test/greenmail/blob/ff620f83a994a904d04b16b8d8ddb02e7d1f8566/greenmail-core/src/main/java/com/icegreen/greenma

[2018-11-24 10:40] marcelmay commented on #264
Thx for the report and excellent analysis, @jonhoo.

 I'll go for the first approach fixing ```message()```. An empty message should not add whitespace.

[2018-11-24 10:41] #264 closed

[2018-11-24 16:59] jonhoo commented on #264
Do you know roughly when 1.5.9 might be released along with this fix?

[2018-11-26 07:10] marcelmay commented on #264
I'll do a release this week ~ Tuesday

[2018-11-28 10:46] marcelmay commented on #264
Just released [1.5.9 ](https://github.com/greenmail-mail-test/greenmail/releases/tag/release-1.5.9)

[2018-11-28 14:48] jonhoo commented on #260
I think the password has to be the same as the username? That at least seems to work for me!

[2018-11-28 14:51] jonhoo opened #265 "Cannot SELECT INBOX with greenmail.auth.disabled"
With `greenmail.auth.disabled`, I can log in as a new user that is created on-the-fly. However, I cannot then perform `SELECT INBOX` (over IMAP): I get "SELECT failed. No such mailbox".

If I send an e-mail *to* this new user, `INBOX` is created, but it'd be great if `INBOX` were created the same time the user is, so that tests like [this one](https://github.com/jonhoo/rust-imap/blob/master/tests/

[2018-11-28 15:15] marcelmay commented on #260
@iluxa-com  : Which version of GreenMail do you use? Can you provide any log output?

[2018-11-29 14:32] csgamedev4linux commented on #257
I believe that I found the problem: Line 302 in imap/commands/FetchCommand.java is:
[code]

But since the `InternetPrintWriter` is instantiated with `ISO-8859-1` (8bit encoding), it should actually be changed to
[code]
to correctly resemble Unicode characters (which are included in ISO-8859-1, useful [char map table at Wikipedia](https://en.wikipedia.org/wiki/ISO/IEC_8859-1#Code_page_layout)).

Th

[2018-12-03 01:13] marcelmay commented on #265
@jonhoo  : Can you provide the verbose output?

I successfully ran your test using GreenMail 1.5.9 and the following modification:
[code]

[2018-12-03 14:41] marcelmay commented on #257
@phihag , @csgamedev4linux  : Thx for reporting. I reproduced the issue with a test EncodingTest.testTextPlainWithUTF8. The fix (when debugging) looks good but breaks some time later.

@phihag  : As a workaround you can use quoted-printable.

[2018-12-04 15:38] jonhoo commented on #265
Huh, looks like this works just fine with 1.5.9, so let's close it! No need to even change the e-mail address!

[2018-12-04 15:38] #265 closed

[2019-01-07 06:22] niranjankhare opened #266 "Query: Periodically purge mailbox/(es)"
Hi,
I'd like to know how I can configure Greenmail Standalone to purge all mailboxes periodically. I saw some related issues :
1. https://github.com/greenmail-mail-test/greenmail/issues/62
2. https://github.com/greenmail-mail-test/greenmail/issues/99

But I'm unable to find such a configuration setting. (Which I'd like to believe exists). Maybe I missed it.

My use case is  that I should be able t

[2019-01-07 15:56] sparsick opened #267 "ServerSetupTest.setPortOffset has no impact on the port configuration"
Calling ServerSetupTest.setPortOffset has no impact on the port configuration. I wrote a test for demonstration.

Test code:

[code]
Failure message is

[code]
I think the reason is that `ServerSetupTest.SMTP` is initialized in a static constructor and a static constructor is always called before the first static method call.

**Versions I used:**
- Java 10
- Greenmail 1.5.9

[2019-01-07 22:15] marcelmay commented on #267
Yes, the code with the static method ```setPortOffset``` is obviously broken.
The default test setups should be immutable, to avoid side effects between tests .

As a workaround, try to directly create a setup configuration:
[code]

Thx alot for reporting,
Marcel

[2019-01-07 23:07] marcelmay commented on #266
Can you periodically/on demand restart GreenMail?

My thoughts on this feature:
* Purging should be externally triggered, to avoid breaking running tests.
   This is also a more flexible option, as whatever purging trigger - eg cron or manually - can be used.
   And it keeps GreenMail lean.
* External triggers would probably use some kind of remote API, eg  #108 or maybe JMX.
   The standalone ser

[2019-01-08 05:30] niranjankhare commented on #266
Oops.. I didn't mean to close this.. hit the wrong button. Reopening

[2019-01-11 19:12] SJrX opened #268 "User can't login with POP3 until after logging in with IMAP."
[code]

[2019-01-15 06:18] lazycodeninja commented on #260
I had this problem today; I had a long-running 1.5.9 Docker container that would accept any password, but when I created a new container with the same image and config with in ECS I got authentication errors unless the password was correct (same as email address), even though I could see in the logs that it was running with `-Dgreenmail.auth.disabled`.

The only difference was that I didn't specif

[2019-01-15 07:41] lazycodeninja commented on #260
It happened again just now, and this time there were absolutely no config changes; I just stopped and recreated the container.  The only consistent thing was the log again showed the `imaps` error.  I stopped and recreated the container once more with no error in the logs, and auth was disabled again.

[2019-02-25 00:01] niranjankhare commented on #266
@marcelmay  I have a proposed solution for this issue in the branch issue-266. Note that the changes are over the source branch of the releases/1.5.x branch.

Request a review and comments. I'd be nice if this can be accepted as a new feature for Greenmail!

Thanks,

[2019-02-27 10:06] micw opened #270 "Please provide docker images for clients too"
Hello,
could you please add automated builds for the greenmail docker client images to docker hub?

Thank you very much,
Michael.

[2019-02-28 06:52] marcelmay commented on #266
@niranjankhare , thx for the work on this.

I will look at this at the weekend. My first feedback:

- Keep the purge trigger outside of core in the standalone part, as this is a feature extension of the standalone runner. The core focuses on mail (protocol) handling and unit testing.

- The purge should be primarily externally triggerable as mentioned above (generic purge), and the time base trigg

[2019-02-28 17:10] niranjankhare commented on #266
NK >> OK.  I had thought of this, but then thought that keeping it in core would allow it to be reused across the projects rather than just the standalone runner. Also seeing as how the standalone runner was kept at bare minimum ... one class only, I wasn't sure if adding more classes there would be acceptable.

NK >> Agree, Then we can have different trigger types like purely periodic (current im